@(currentPage: com.avaje.ebean.Page[Espacamento], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Espacamentos.manter(newPage, sortBy, order, currentFilter)
    
}
@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}
@javascript = {
<script type="text/javascript" src="@routes.Assets.at("/javascripts/bootbox.min.js")"></script>
<script type="text/javascript">
    
         jQuery(function(){

            $("#modal").modal({
                show: false
            });
            
            $(".novo_editar_espacamento").click(function(e){
                var url = $(this).attr("href");
                jQuery.ajax(url).done(function(data){
                    $("#modal").html(data).modal('show');
                }).fail(function(data){
                    alert("erro");
                });

                e.preventDefault();
            });
        });
        
    function confirmaExclusao(url, descricao){
        bootbox.dialog({
            message: "Tem certeza que deseja excluir o espaçamento "+descricao,
            title: "Confirmar a Exclusão",
            buttons: {
              success: {
                label: "Confirmar",
                className: "btn-danger",
                callback: function() {
                   window.location.href=url;
                }
              },
              main: {
                label: "Cancelar",
                className: "btn",
                
              }
           }
        });
    }     
    
</script>
    
}

@import helper._
@import helper.twitterBootstrap._

@main("Manter Espaçamento", javascript){
    
    <div class="actions">
            <a href="@routes.Espacamentos.novoEditar(0, 0)" align="bottom" class="novo_editar_espacamento btn btn-primary input-large" rel="tooltip" title="Cadastrar novo Espaçamento">Incluir</a>
            
        </div>
    <br>
 
    <div id="modal" class="modal hide"></div>
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Feito!</strong> @flash.get("success")
        </div>
    } 
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERRO!</strong> @flash.get("error")
        </div>
    } 

    <hr>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nenhum Espaçamento Cadastrado</em>
        </div>
        
    } else {
       <div class="well">
        <table class="table">
            <thead>
                <tr class="tablehead">
                    @header("nome", "Descrição")
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>

                @for(espacamento <- currentPage.getList) {
                    <tr>
                        <td>
                            @espacamento.descricao
                        </td>
                        <td>
                               <a href="@routes.Espacamentos.novoEditar(espacamento.id, 2)" class="novo_editar_espacamento btn btn-primary btn-small" rel="tooltip" title="Editar @espacamento.descricao">Editar</a>
                        </td>
                         
                        <td> 
                               <a onclick="confirmaExclusao('@routes.Espacamentos.deletar(espacamento.id)', '@espacamento.descricao')" class="btn btn-danger btn-small" rel="tooltip" title="Excluir @espacamento.descricao">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       </div>
        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Exibindo @currentPage.getDisplayXtoYofZ(" a "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Próxima &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }
}    
