@(id: Long, formacaoForm: Form[Formacao])

@import helper._

@import helper.twitterBootstrap._ 

@main("Alterar Formacao") {
    
    @form(routes.Formacoes.update(id)) {
        
        <fieldset>
            @select(
                formacaoForm("bioma.id"), 
                options(Bioma.opcoes), 
                '_label -> "Bioma", 
                '_default -> "-- Escolha o Bioma --",
                '_showConstraints -> false,
                '_error -> formacaoForm.error("bioma")
            ) 
            
            @inputText(
                formacaoForm("nome"), 
                '_label -> "Formacao",
                'class ->"input-xlarge",
                'rel->"tooltip",
                'title->"Digite o nome da formação",
                '_help -> "",
                '_error -> formacaoForm.error("nome")
            )
                 
        </fieldset>
        
       
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Salvar">
            <a href="@routes.Formacoes.manter(0, "nome", "asc", "")" class="btn">Voltar</a>
        </div>
        
    }
 
     
        
}
