@(variavelInteresse : Long =0 ,equacaoForm: Form[Equacao], quemChama : Integer)


@javascript = {
    <script type="text/javascript">
        var variavelUtilizada = new Array();
        var countVariavel=0;
	var termos = new Array();
        var countTermos=0;
      
    function Termo(tipo, tamanho){
        this.tipo = tipo;
        this.tamanho = tamanho;
    }
    
    function populaTermos(tipo, tamanho){
        termos[countTermos]= new Termo(tipo, tamanho);
        countTermos++;
      }
    
    function acrescentaTermo(termo){
        $("#expressao").val($("#expressao").val()+termo);
    }
    function existe(vetor, objeto) {
        for (var i = 0; i < vetor.length; i++) {
            if (vetor[i][0] === objeto) {
                return true;
            }
    }
    return false;
    }
    function pode(caso){
        switch(caso){
         case 'negativo':
             if (countTermos===0)
                return true;
         case 'fechaParenteses':
         case 'operador':
             if (countTermos===0)
                return false;
            var termo = termos[countTermos-1];
            return (termo.tipo==="variavel"||termo.tipo==="constante"||termo.tipo==="fechaParenteses");
         break;
         case 'constante':
         case 'variavel':
         case 'operadorComParenteses':
             if (countTermos===0)
                return true;
             var termo = termos[countTermos-1];
             return (termo.tipo==="operador" || termo.tipo==="abreParenteses");             
         break;
         case 'abreParenteses':
              if (countTermos===0)
                return true;
             var termo = termos[countTermos-1];
             return (termo.tipo==="operador" || termo.tipo==="abreParenteses"||termo.tipo==="operadorComParenteses");
         break;
         default: return true;
    }
        
    }
	
  $('body').on('change', '#variavel',function(){
             	if(pode("variavel")){
                   var auxVariavel = $("#variavel").val().split(",");
                    acrescentaTermo(auxVariavel[1]);
                    populaTermos("variavel",auxVariavel[1].length);
                    if(!existe(variavelUtilizada, auxVariavel[0])){
                        $("#divVariaveis").append("<div id='equacaoVariavel_"+countVariavel+"'>\n\
                                                    <input type='hidden' name='equacao_variavel["+countVariavel+"].variavel.id' value='"+auxVariavel[0]+"'>\n\
                                                    <input type='hidden' name='equacao_variavel["+countVariavel+"].valor' value='0'> </div>");

                       variavelUtilizada[countVariavel]=[auxVariavel[0], auxVariavel[1]];
                       countVariavel++;
                    }
                    
                }
                $("#variavel").val("0");
		
})       
  $("#adicionarConstanteBtn").click(function(){
        	if(pode("constante")){
                    var stringConstante = $("#constante").val();
                        acrescentaTermo(stringConstante);
			populaTermos("constante", stringConstante.length);
                }
                $("#constante").val("");
		
})
 $("#multiplicacao").click(function(){
		if(pode("operador")){
                        acrescentaTermo("*");
			populaTermos("operador",1);
		}
})
$("#divisao").click(function(){
		if(pode("operador")){
                    acrescentaTermo("/");
                    populaTermos("operador",1);
		}
})
$("#adicao").click(function(){
                if(pode("operador")){
                acrescentaTermo("+");
		populaTermos("operador",1);
		}
		
})
$("#subtracao").click(function(){
                if(pode("negativo")){
                    acrescentaTermo("-");
                    populaTermos("operador",1);
		}
		
})
$("#potencicao").click(function(){
		if(pode("operador")){
                    acrescentaTermo("^");
                    populaTermos("operador",1);
                }
})
$("#sqrt").click(function(){
                if(pode("operadorComParenteses")){
                    acrescentaTermo("sqrt");
                    populaTermos("operador",4);
                }
		
})
$("#logaritmoNeperiano").click(function(){
                if(pode("operadorComParenteses")){
                    acrescentaTermo("LN");
                    populaTermos("operador",2);
		}
		
})
$("#logaritmo").click(function(){
		if(pode("operadorComParenteses")){
                    acrescentaTermo("Log");
                    populaTermos("operador",3);
                }
})
$("#exponencial").click(function(){
		if(pode("operadorComParenteses")){
                    acrescentaTermo("exp");
                    populaTermos("operador",3);
                }
})

$("#abreParenteses").click(function(){
                if(pode(abreParenteses)){
                    acrescentaTermo("(");
                    populaTermos("abreParenteses",1);
                 }
				
})
$("#fechaParenteses").click(function(){
                if(pode(fechaParenteses)){
                    acrescentaTermo(")");
                    populaTermos("fechaParenteses",1);
                }
})

$('body').on('click','#CE',function(){
     if(countTermos>0){
        var auxExpressao = $("#expressao").val();
        if(termos[countTermos-1].tipo==="variavel"){
            countTermos--;
            auxExpressao = auxExpressao.substring(0, auxExpressao.length - termos[countTermos].tamanho);
            
            if(auxExpressao.search(variavelUtilizada[countVariavel-1][1])===-1){
                countVariavel--;
                variavelUtilizada[countVariavel][0]=[-1];
                variavelUtilizada[countVariavel][1]=[""];
                 $("#"+"equacaoVariavel_"+countVariavel).remove();
             }

        }else{
            countTermos--;
            auxExpressao = auxExpressao.substring(0, auxExpressao.length - termos[countTermos].tamanho);
           
        }
            $("#expressao").val(auxExpressao);

          }
            
})
$('body').on('click','#C', function(){
        $("#expressao").val("");
        $("#divVariaveis").html("");
                countVariavel=0;
		countTermos=0;
})  
</script>
<script type="text/javascript">
        $("#saveModalButton").click(function(e){
                 var dataFilterRequest = jQuery.ajax({
                    url: '@routes.Equacoes.salvarAjax(variavelInteresse)',
                    type: 'post',
                    data: $("#equacaoForm").serialize(),
                    dataFilter: function(data, type){
                        return data;
                    }
                });
                dataFilterRequest.done(function(data){
                    @if(variavelInteresse==1){
                        $("#modeloEquacaoBiomassa").append("<option value='" + data.id + "'> B= " + data.expressão +" | Não possue modelo cadastrado </option>").val(data.id)
                        $("#modalEquacao").modal("hide");
                    }
                    @if(variavelInteresse==2){
                        $("#modeloEquacaoCarbono").append("<option value='" + data.id + "'> C= " + data.expressão +" | Não possue modelo cadastrado </option>").val(data.id)
                        $("#modalEquacao").modal("hide");
                    }
                    @if(variavelInteresse==3){
                        $("#modeloEquacaoVolume").append("<option value='" + data.id + "'> V= " + data.expressão +" | Não possue modelo cadastrado </option>").val(data.id)
                        $("#modalEquacao").modal("hide");
                    } 
                       
                }).fail(function(jqXHR, textStatus){
                    $("#equacaoForm").html(jqXHR.responseText);
                });
                e.preventDefault();
            });
         

    $('#constante').keypress(function(event) {

      if (event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
            return true;
        }else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
        event.preventDefault();
      }
    });

               
</script>
}

@import helper._
@import helper.twitterBootstrap._

@modal(if(quemChama!=2){"Cadastrar Equação"}else{"Editar Equação"}, "Salvar", quemChama, javascript){
    
    @form(routes.Equacoes.salvar(variavelInteresse), 'id -> "equacaoForm") {
        
    <fieldset style="margin-left:10%; margin-right:auto;">
          <div class="clearfix  " id="bioma_field">
           <label for="bioma">Equação para cálculo de</label>
           <div class="input">
           <select id="variavel_interesse" name="variavel_interesse.id" class="input-large" disabled>
              @for(opcao<-VariavelInteresse.opcoes){
                      <option value ="@opcao._1" @if(variavelInteresse.toString == opcao._1){selected}>@opcao._2</option>
              } 
           </select>
               <input type="hidden" name="variavel_interesse.id" value ="@variavelInteresse">
               <span class="help-inline"></span>
               <span class="help-block"></span> 
           </div>
           </div>    

                  <div class="clearfix  " id="expressao_field">
                   <label for="expressao">Equação:</label>
                       <div class="input">
                              <input type="text" id="expressao" style="width: 700px;" name="expressao" readonly rel="tooltip" title="Insira a equação">

                               <span class="help-inline"></span>
                               <span class="help-block"></span> 
                       </div>
            
          </div>
          <div class="row">
                   <div class="span6">
                       <h4>Variáveis</h4>
                       <select id="variavel" name="variavel" class="input-xlarge">
                           <option value ="0">-- Variáveis --</option>
                           
                            @for(opcao<-Variavel.opcoes){
                              <option value ="@opcao._1">@opcao._2</option>
                             } 
                    </select>
                    
                    <h4>Constantes</h4>
                        <input type="text" id="constante" name="constante" rel="tooltip" title="Digite uma Constante">
                        <a type="button" class="btn btn-info  btn-mini" id="adicionarConstanteBtn"> + </a>
                   </div>
          <div class="span6">
                     <h4>Operadores</h4>
                     <div id="corpo">
                        <table style="border-style:double;border-color:black; padding-left: 5px;padding-right:5px;font-family: sans-serif;
                        background-color:#b8c3cd;">
                            <tr><td colspan="2"><input type="button" rel="tooltip" title="Apaga a última inclusão" style="width:100%" value="CE" id="CE"/></td>
                                <td colspan="2" ><input  type="button" rel="tooltip" title="Apaga tudo" style="width:100%" value="C" id="C"/></td>
                            </tr>
                            
                            <tr>
                                <td><input type="button" rel="tooltip" title="Adição" style="width:100%" value="+" id="adicao"/></td>
                                <td><input type="button" rel="tooltip" title="Subtração" style="width:100%" class="operador" value="-" id="subtracao"/></td>
                                <td><input type="button" rel="tooltip" title="Multiplicacao" style="width:100%" value="*" id="multiplicacao"/></td>
                                <td><input type="button" rel="tooltip" title="Divisão" style="width:100%" value="/" id="divisao"/></td>
                            </tr>
                            
                            <tr>
                                <td><input type="button" rel="tooltip" title="Potência - Usar a^2" style="width:100%" value="^" id="potencicao"/></td>
                                <td><input type="button" rel="tooltip" title="Raiz Quadrada - Usar sqrt(número)" type="button"  style="width:100%" value="sqrt" id="sqrt"/></td>
                                <td><input type="button" rel="tooltip" title="Logarítmo Neperiano - ln(número)" type="button"  style="width:100%" value="ln" id="logaritmoNeperiano"/></td>
                                <td><input type="button" rel="tooltip" title="Logarítmo base 10 - Usar Log(logaritmando)" style="width:100%" value="log" id="logaritmo"/></td>
                                
                            </tr>
                            
                            <tr>
                                <td colspan="2"><input type="button" rel="tooltip" title='Exponencial - Usar exp(b)' style="width:100%" value="exp" id="exponencial"/></td>
                                <td><input type="button" rel="tooltip" title='Abre Parenteses' style="width:100%" value="(" id="abreParenteses"/></td>
                                <td><input type="button" rel="tooltip" title='Fecha Parenteses' style="width:100%" value=")" id="fechaParenteses"/></td>
                            </tr>
                        </table>
                    </div>
            </div>
           </div>
        <div id="divVariaveis"></div>
       </fieldset>
    }
   <hr>
    
}    
