@(local: Local)

@import helper._
@import helper.twitterBootstrap._

@main("Cadastrar Dados de Arvores"){

@form(action = routes.DadosLocal.calcular(local.id, 1), 'id -> "form") {
<div class="">

   <input type="hidden" name="local.id" class="large" placeholder="Local" value="@local.id"> 
   <label>Área Total(ha): </label><input type="text" name="local.areatotal" id="areaTotalText" class="large" placeholder="Area Total" value="@local.area_total" disabled="true">  
   <label>Área da Parcela(m2): </label><input type="text" name="local.area_parcela" id="areaParcelaText" class="large" placeholder="Area da Parcela" @if(local.area_parcela != null){value="@local.area_parcela"}> 
   <div class="radios">
    <h4>Tipo de Entrada</h4>
    <br />
  	<label class="radio tipo" id="tipo" required>
  		<input type="radio" name="tipo" id="tipo1"  > <label>Entrada Manual (Digitação dos Dados)</label> 
    	<input type="radio" name="tipo" id="tipo2"  > <label>Importação dos Dados apartir de um arquivo txt.</label>
  	</label>
  	<div id="arvore_manual" style="display: none">
  		<div id='jqxWidget arvore'>
  		    <div class="jqxgrid" id="jqxgrid_arvore"></div>
  		        <div style='margin-top: 20px;'>
              <div class="arv"></div>
  		            <div>
  		                <input type="button" value="Baixar Modelo" id='excelExportArvore' class="btn" />
  		                <input type="button" value="Adicionar Linha" id='addRowArvore' class="btn" />
  		            </div>
  		        </div>
              <div style='margin-top: 10px;'>
                 <input type="button" class="btn  btn-success btn-large" name="salvar" rel="tooltip" title="Salvar dados da grid." id="salvarGridBtn"  value="Salvar">
              </div>
      </div>
  	</div>
  	<div id="arvore_import" style="display: none">
    <br />
      
      <input type="file" id="files" name="files[]" multiple="" class="btn btn-small">
      <br />
      <br />
       <input type="button" value="Baixar Modelo" id='modelo' class="btn" />
       
      <div id="arv"></div>
    </div>
    </div>
    <br />
    <hr>
	   <a href="@routes.DadosLocal.calcular(local.id, 1)" class="btn btn-success btn-small" rel="tooltip" title="Calcular">Calcular</a>

</div>
}}
<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootbox.min.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".radios").change(function(){
    	
    	var tipo1 = $("#tipo1").is(":checked");
    	var tipo2 = $("#tipo2").is(":checked");
    	
    	if(tipo1 == true){
    		$("#arvore_manual").show();
            $("#arvore_import").hide();
    	}
    	else if(tipo2 == true){
    		$("#arvore_manual").hide();
    		$("#arvore_import").show();

		}
		else 
			alert("Selecione um Dado de Entrada e um Tipo de Entrada!!");


    });
    });
</script>
<script type="text/javascript">
        $(function(){
            
            
            jsRoutes.controllers.Variaveis.findByLocal(@local.id).ajax({
              success: function(data){

                var theme = 'base';


                // inicializa grid de árvore
                var arvore_source =
                {
                    datafields:
                    [
                        { name: 'parcela', type: 'number' },
                        { name: 'arvore', type: 'number' },
                        { name: 'biomassa', type: 'number' },
                        { name: 'carbono', type: 'number' },
                        { name: 'volume', type: 'number' },
                    ]
                };
                if(data.length > 0){
                  for (i in data) {
                    arvore_source.datafields[arvore_source.datafields.length] = {name: data[i].id, type: 'number'} 
                  };
                }
                
                var columns =  Array();
                for (var i = 0; i < 5; i++) {
                  columns[i] =  { text: arvore_source.datafields[i].name.toUpperCase() , datafield: arvore_source.datafields[i].name, cellsformat: 'd' }
                };

                for (var i = 5; i < arvore_source.datafields.length; i++){
                  columns[i] = { text: data[i - 5].sigla.toUpperCase() , datafield: arvore_source.datafields[i].name, cellsformat: 'd' }
                }
                
               
                var dataAdapterArvore = new $.jqx.dataAdapter(arvore_source);


                var grid_arvore = $("#jqxgrid_arvore").jqxGrid(
                {
                    source: dataAdapterArvore,
                    editable: true,
                    columnsresize: false,
                    selectionmode: 'multiplecellsadvanced',
                    theme: theme,
                    columns: columns
                });

                grid_arvore.on('initialized', function(){
                    //pré popula com 5 linhas
                    for (var i = 5 - 1; i >= 0; i--) {
                        grid_arvore.jqxGrid('addrow', null, {});
                    };
                });

                
                $("#addRowArvore").on('click', function () {
                    grid_arvore.jqxGrid('addrow', null, {});
                });
                
                $("#excelExportArvore").click(function () {
                    grid_arvore.jqxGrid('exportdata', 'xls', 'arvore', true);
                });

              },
              error: function(){
                   $("#arv").html("<label>Nenhuma Variavel Encontrada, favor cadastrar!</label>")
              }
            });
            
            
        });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {    
    $("#salvarGridBtn").click(function(){
        if($("#areaParcelaText").val()===""){
               bootbox.dialog({
                        message: "Erro. Campo Área da Parcela é Obrigatório.",
                        title: "Erro",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });
            }else{
                var rows = $("#jqxgrid_arvore").jqxGrid('getrows');
                var valoresEnviar = [];
                var countPreenchido=0;
                var erro = false;
                $.each(rows, function(key, value){
                    if(value.parcela&&value.biomassa&&value.carbono&&value.volume){
                        valoresEnviar.push(value);
                        countPreenchido++;
                    }else if(!value.biomassa&&!value.carbono&&!value.volume){
                        
                    }else{
                      erro=true;  
                      return false;
                    }
                });
                
                  if(countPreenchido>0 && !erro){
                    jsRoutes.controllers.Arvores.saveGrid(@local.id, $("#areaParcelaText").val()).ajax({
                    type :  "POST",
                    dataType: 'json',
                    contentType : 'application/json; charset=utf-8',
                    data: JSON.stringify(valoresEnviar),
                    success: function(data){
                     bootbox.dialog({
                        message: "Dados salvos com sucessso.",
                        title: "Feito",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });   
                    }, 
                })   
                    
                }else{
                    bootbox.dialog({
                        message: "Erro no preenchimento da tabela. Linhas incompletas ou nenhuma linha preenchida.",
                        title: "Erro",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });
                }
            }     
         });    
    });
 </script> 
 <script type="text/javascript">
  $("#modelo").click(function () {
        var url = '@{routes.Arvores.criaModelo(local.id)}';
        window.open(url);
    });


    $(document).ready(function() {
      if(isAPIAvailable()) {
        $('#files').bind('change', handleFileSelect);
      }

      $("#excelExportArvore1").click(function () {
                    grid_arvore.jqxGrid('exportdata', 'xls', 'arvore', true);
                });
    });

  function isAPIAvailable() {
    // Check for the various File API support.
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      // Great success! All the File APIs are supported.
      return true;
    } else {
      // source: File API availability - http://caniuse.com/#feat=fileapi
      // source: <output> availability - http://html5doctor.com/the-output-element/
      document.writeln('The HTML5 APIs used in this form are only available in the following browsers:<br />');
      // 6.0 File API & 13.0 <output>
      document.writeln(' - Google Chrome: 13.0 or later<br />');
      // 3.6 File API & 6.0 <output>
      document.writeln(' - Mozilla Firefox: 6.0 or later<br />');
      // 10.0 File API & 10.0 <output>
      document.writeln(' - Internet Explorer: Not supported (partial support expected in 10.0)<br />');
      // ? File API & 5.1 <output>
      document.writeln(' - Safari: Not supported<br />');
      // ? File API & 9.2 <output>
      document.writeln(' - Opera: Not supported');
      return false;
    }
  }

  function handleFileSelect(evt) {
      if($("#areaParcelaText").val()===""){
               bootbox.dialog({
                        message: "Erro. Campo Área da Parcela é Obrigatório.",
                        title: "Erro",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });
            }else{
                var files = evt.target.files; // FileList object
                var file = files[0];

                printTable(file);
            }
  }

  function printTable(file) {
    var reader = new FileReader();
    reader.readAsText(file);
    reader.onload = function(event){
      var csv = event.target.result;
      var data = $.csv.toArrays(csv);
      var itens = new Array();
      
      for(var row in data) {
        for(var item in data[row]) {
          itens[row] = data[row][item];
        }
      }
      
      
       jsRoutes.controllers.Arvores.saveFile(itens, @local.id, $("#areaParcelaText").val()).ajax({
              success: function(data){
                bootbox.dialog({
                        message: "Arquivo importado com sucesso.",
                        title: "Feito",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });
              }  
       });
    };
    reader.onerror = function(){ alert('Erro ao Abrir o arquivo' + file.fileName); };
  }

</script>