@(id: Long)

@import helper._
@import helper.twitterBootstrap._


@main("Cadastrar Dados de Arvores"){

@form(action = routes.Arvores.novo(1), 'id -> "form") {
<div class="">
    <input type="hidden" name="local.id" class="large" placeholder="Local" value="@id"> 
    <label>Area Total(ha): </label><input type="text" name="local.areatotal" class="large" placeholder="Area Total">  
    <label>Area da Parcela(m2): </label><input type="text" name="local.areatotal" class="large" placeholder="Area da Parcela">
    <h4>Dados de Entrada</h4>
    <br />
    <div class="radios">
    <h4>Tipo de Entrada</h4>
    <label class="radio tipo" id="tipo" required>
  		<input type="radio" name="tipo" id="tipo1"  > <label>Entrada Manual (Digitação dos Dados)</label> 
    	<input type="radio" name="tipo" id="tipo2"  > <label>Importação dos Dados apartir de um arquivo txt.</label>
  	</label>
  	<div id="arvore_manual" style="display: none">
  		<div id='jqxWidget arvore'>
  		    <div class="jqxgrid" id="jqxgrid_arvore"></div>
  		        <div style='margin-top: 20px;'>
  		        <div>
  		            <input type="button" value="Export to Excel" id='excelExportArvore' class="btn" />
  		            <input type="button" value="Adicionar Linha" id='addRowArvore' class="btn" />
  		        </div>
  		    </div>
  		</div>
  	</div>
  	<div id="arvore_import" style="display: none">Teste 4</div>
    </div>
    <br />
    <hr>
	<input type="button" class="btn btn-small btn-info" name="Calcular" title="Calcular" value="Calcular">

</div>
}}
<script type="text/javascript">
$(document).ready(function(){
    $(".radios").change(function(){
    	
    	var tipo1 = $("#tipo1").is(":checked");
    	var tipo2 = $("#tipo2").is(":checked");
    	if(tipo1 == true){
    		$("#arvore_manual").show();
    		$("#arvore_import").hide();
    	}
    	else if(tipo2 == true){
    		$("#arvore_manual").hide();
    		$("#arvore_import").show();
		}
		else if(tipo1 == false && tipo2 == false)
			alert("Selecione um Tipo de Entrada!!");


    });
    });
</script>
<script type="text/javascript">
        $(function(){
            var theme = 'base';

            var parcela_source =
            {
                datafields:
                [
                    { name: 'parcela', type: 'number' },
                    { name: 'biomassa', type: 'number' },
                    { name: 'carbono', type: 'number' },
                    { name: 'volume', type: 'number' }
                ]
            };
            var dataAdapterParcela = new $.jqx.dataAdapter(parcela_source);
            // inicializa grid de parcela
            var grid_parcela = $("#jqxgrid_parcela").jqxGrid(
            {
                source: dataAdapterParcela,
                editable: true,
                columnsresize: false,
                selectionmode: 'multiplecellsadvanced',
                theme: theme,
                columns: [
                  { text: 'Parcela', datafield: 'parcela'},
                  { text: 'Biomassa', datafield: 'biomassa' },
                  { text: 'Carbono', datafield: 'carbono' },
                  { text: 'Volume', datafield: 'volume' }
                ]
            });

            grid_parcela.on('initialized', function(){
                //pré popula com 5 linhas
                for (var i = 5 - 1; i >= 0; i--) {
                    grid_parcela.jqxGrid('addrow', null, {});
                };
            });

            
            $("#addRowParcela").on('click', function () {
                grid_parcela.jqxGrid('addrow', null, {});
            });
            
            $("#excelExportParcela").click(function () {
                grid_parcela.jqxGrid('exportdata', 'xls', 'jqxGrid', true);
            });


            // inicializa grid de árvore
            var arvore_source =
            {
                datafields:
                [
                    { name: 'parcela', type: 'number' },
                    { name: 'arvore', type: 'number' },
                    { name: 'dap', type: 'number' },
                    { name: 'altura', type: 'number' },
                    { name: 'biomassa', type: 'number' },
                    { name: 'carbono', type: 'number' },
                    { name: 'volume', type: 'number' }
                ]
            };
            var dataAdapterArvore = new $.jqx.dataAdapter(arvore_source);


            var grid_arvore = $("#jqxgrid_arvore").jqxGrid(
            {
                source: dataAdapterArvore,
                editable: true,
                columnsresize: false,
                selectionmode: 'multiplecellsadvanced',
                theme: theme,
                columns: [
                  { text: 'Parcela', datafield: 'parcela'},
                  { text: 'Árvore', datafield: 'arvore' },
                  { text: 'DAP', datafield: 'dap' },
                  { text: 'Altura', datafield: 'altura' },
                  { text: 'Biomassa', datafield: 'biomassa' },
                  { text: 'Carbono', datafield: 'carbono' },
                  { text: 'Volume', datafield: 'volume' }
                ]
            });

            grid_arvore.on('initialized', function(){
                //pré popula com 5 linhas
                for (var i = 5 - 1; i >= 0; i--) {
                    grid_arvore.jqxGrid('addrow', null, {});
                };
            });

            
            $("#addRowArvore").on('click', function () {
                grid_arvore.jqxGrid('addrow', null, {});
            });
            
            $("#excelExportArvore").click(function () {
                grid_arvore.jqxGrid('exportdata', 'xls', 'jqxGrid', true);
            });
        });
    </script>