@(localForm : Form[Local], tipoEstimativa : Integer)

@import helper._
@import helper.twitterBootstrap._
@javascript = {
<script type="text/javascript">
     jQuery(function(){
         if($("#qtde_biomassa").val()!=""){
            $("#qtde_biomassa").val(new Number($("#qtde_biomassa").val()).toFixed(4));
         }
         if($("#qtde_carbono").val()!=""){
            $("#qtde_carbono").val(new Number($("#qtde_carbono").val()).toFixed(4));
         }
         if($("#qtde_volume").val()!=""){
            $("#qtde_volume").val(new Number($("#qtde_volume").val()).toFixed(4));
         }
                 
     });
    
    
</script>
}

@main("Calcular Biomassa - Carbono - Volume", javascript){
@if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Feito!</strong> @flash.get("success")
        </div>
    } 
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERRO!</strong> @flash.get("error")
        </div>
    } 

<div class="">
   <legend>Biomassa</legend>
   <div class="row">
        <div class="span6">
            <label>Equação</label><input type="text" name="equacaoBiomassa" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==1 && equacao.equacao.expressao != null){value="@equacao.equacao.expressao"}}class="input-xlarge" placeholder="Equação Biomassa">
        </div>
        <div class="span6">
            <label>Modelo</label><input type="text" name="modeloBiomassa" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==1 && equacao.equacao.expressao_modelo!=null){value="@equacao.equacao.expressao_modelo"}} class="input-xlarge" placeholder="Modelo Biomassa">
            @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==1 && equacao.equacao.expressao_modelo!=null){
                <a href="@routes.Modelos.ajustar(localForm.get().id, equacao.equacao.id, tipoEstimativa)" class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>
            }else{@if(equacao.equacao.variavel_interesse.id ==1){<a href="" disabled class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>}}}
        </div> 
   </div>      
   <legend>Carbono</legend>
   <div class="row">
        <div class="span6">
            <label>Equação</label><input type="text" name="equacaoCarbono" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==2 &&equacao.equacao.expressao!=null){value="@equacao.equacao.expressao"}} class="input-xlarge" placeholder="Equação Carbono">
        </div>
        <div class="span6">
            <label>Modelo</label>
            <input type="text" name="modeloCarbono" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==2 && equacao.equacao.expressao_modelo!=null){value="@equacao.equacao.expressao_modelo"}} class="input-xlarge" placeholder="Modelo Carbono">
             @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==2&& equacao.equacao.expressao_modelo!=null){
                <a href="@routes.Modelos.ajustar(localForm.get()id, equacao.equacao.id, tipoEstimativa)" class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>
            }else{@if(equacao.equacao.variavel_interesse.id ==2){<a href="" disabled class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>}}}
        </div> 
   </div> 
   <legend>Volume</legend>
   <div class="row">
        <div class="span6">
            <label>Equação</label><input type="text" class="input-xlarge" name="equacaoVolume" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==3 && equacao.equacao.expressao!=null){value="@equacao.equacao.expressao"}}  placeholder="Equação Volume">
        </div>
        <div class="span6">
            <label>Modelo</label><input type="text" class="input-xlarge" name="modeloVolume" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==3 && equacao.equacao.expressao_modelo!=null){value="@equacao.equacao.expressao_modelo"}} placeholder="Modelo Volume">
            @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==3 && equacao.equacao.expressao_modelo!=null){
                <a href="@routes.Modelos.ajustar(localForm.get().id, equacao.equacao.id, tipoEstimativa)" class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>
            }else{@if(equacao.equacao.variavel_interesse.id ==3){<a href="" disabled class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>}}}
        </div> 
   </div>      
      	<hr />
    <a href='@routes.DadosLocal.fazerCalculo(localForm.get().id, tipoEstimativa)' class="btn btn-info">Calcular</a>
    <br />
    <br />
    <legend>Resultados</legend>
    <br /> 
    <div class="row">
        <table>
                <tr>
                    <td>
                    @inputText(
                    localForm("qtde_biomassa"), 
                    '_label -> "Biomassa Total(ton)",
                    'id->"qtde_biomassa",
                    'class ->"input-xlarge",
                    '_help -> "",
                    '_error -> localForm.error("qtde_biomassa")
                    )
                    </td>
                    @if(localForm.get().local_detalhe_biomassa!=null){
                     <td>
                         <a href='@routes.DadosLocal.detalheBiomassa(localForm.get().id, tipoEstimativa)' class="btn btn-info btn-small" rel="tooltip" title="Ver detalhe e estatísticas" >Ver Detalhe</a>
                     </td>
                     }
                 </tr>
        </table>
        <table>
                <tr>
                    <td>
                    @inputText(
                    localForm("qtde_carbono"), 
                    '_label -> "Carbono Total(ton)",
                    'id->"qtde_carbono",
                    'class ->"input-xlarge",
                    '_help -> "",
                    '_error -> localForm.error("qtde_carbono")
                    )
                    </td>
                    @if(localForm.get().local_detalhe_carbono!=null){
                     <td>
                         <a href='@routes.DadosLocal.detalheCarbono(localForm.get().id, tipoEstimativa)' class="btn btn-info btn-small" rel="tooltip" title="Ver detalhe e estatísticas">Ver Detalhe</a>
                     </td>
                     }
                 </tr>
        </table>
        <table>
                <tr>
                    <td>
                    @inputText(
                    localForm("qtde_volume"), 
                    '_label -> "Volume Total(m3)",
                    'id->"qtde_volume",
                    'class ->"input-xlarge",
                    '_help -> "",
                    '_error -> localForm.error("qtde_carbono")
                    )
                    </td>
                    @if(localForm.get().local_detalhe_volume!=null){
                     <td>
                         <a href='@routes.DadosLocal.detalheVolume(localForm.get().id, tipoEstimativa)' class="btn btn-info btn-small" rel="tooltip" title="Ver detalhe e estatísticas">Ver Detalhe</a>
                     </td>
                     }
                 </tr>
        </table>
        </div>
</div>
}
