@(localForm : Form[Local])

@import helper._
@import helper.twitterBootstrap._


@main("Calcular Biomassa - Carbono - Volume"){


<div class="">
   <legend>Biomassa</legend>
   <div class="row">
        <div class="span6">
            <label>Equação</label><input type="text" name="equacaoBiomassa" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==1 && equacao.equacao.expressao != null){value="@equacao.equacao.expressao"}}class="input-xlarge" placeholder="Equação Biomassa">
        </div>
        <div class="span6">
            <label>Modelo</label><input type="text" name="modeloBiomassa" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==1 && equacao.equacao.expressao_modelo!=null){value="@equacao.equacao.expressao_modelo"}} class="input-xlarge" placeholder="Modelo Biomassa">
            @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==1 && equacao.equacao.expressao_modelo!=null){
                <a href="@routes.Modelos.ajustar(equacao.equacao.id)" class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>
            }else{@if(equacao.equacao.variavel_interesse.id ==1){<a href="" disabled class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>}}}
        </div> 
   </div>      
   <legend>Carbono</legend>
   <div class="row">
        <div class="span6">
            <label>Equação</label><input type="text" name="equacaoCarbono" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==2 &&equacao.equacao.expressao!=null){value="@equacao.equacao.expressao"}} class="input-xlarge" placeholder="Equação Carbono">
        </div>
        <div class="span6">
            <label>Modelo</label>
            <input type="text" name="modeloCarbono" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==2 && equacao.equacao.expressao_modelo!=null){value="@equacao.equacao.expressao_modelo"}} class="input-xlarge" placeholder="Modelo Carbono">
             @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==2&& equacao.equacao.expressao_modelo!=null){
                <a href="@routes.Modelos.ajustar(equacao.equacao.id)" class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>
            }else{@if(equacao.equacao.variavel_interesse.id ==2){<a href="" disabled class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>}}}
        </div> 
   </div> 
   <legend>Volume</legend>
   <div class="row">
        <div class="span6">
            <label>Equação</label><input type="text" class="input-xlarge" name="equacaoVolume" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==3 && equacao.equacao.expressao!=null){value="@equacao.equacao.expressao"}}  placeholder="Equação Volume">
        </div>
        <div class="span6">
            <label>Modelo</label><input type="text" class="input-xlarge" name="modeloVolume" @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==3 && equacao.equacao.expressao_modelo!=null){value="@equacao.equacao.expressao_modelo"}} placeholder="Modelo Volume">
            @for(equacao<-localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){@if(equacao.equacao.variavel_interesse.id ==3 && equacao.equacao.expressao_modelo!=null){
                <a href="@routes.Modelos.ajustar(equacao.equacao.id)" class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>
            }else{@if(equacao.equacao.variavel_interesse.id ==3){<a href="" disabled class="btn btn-warning btn-mini" rel="tooltip" title="Ajustar equação">Ajustar</a>}}}
        </div> 
   </div>      
      	<hr />
    <a href='' class="btn btn-info">Calcular</a>
    <br />
    <br />
    <legend>Resultados</legend>
    <br /> 
    <div class="row">
        <table>
                <tr>
                    <td>
                    @inputText(
                    localForm("qtde_biomassa"), 
                    '_label -> "Biomassa Total(ton)",
                    'class ->"input-xlarge",
                    '_help -> "",
                    '_error -> localForm.error("qtde_biomassa")
                    )
                    </td>
                     <td>
                         <a href='@routes.DadosLocal.detalheBiomassa(localForm.get().id)' class="btn btn-info btn-small" rel="tooltip" title="Ver detalhe e estatísticas">Ver Detalhe</a>
                     </td>
                 </tr>
        </table>
        <table>
                <tr>
                    <td>
                    @inputText(
                    localForm("qtde_carbono"), 
                    '_label -> "Carbono Total(ton)",
                    'class ->"input-xlarge",
                    '_help -> "",
                    '_error -> localForm.error("qtde_carbono")
                    )
                    </td>
                     <td>
                         <a href='@routes.DadosLocal.detalheCarbono(localForm.get().id)' class="btn btn-info btn-small" rel="tooltip" title="Ver detalhe e estatísticas">Ver Detalhe</a>
                     </td>
                 </tr>
        </table>
        <table>
                <tr>
                    <td>
                    @inputText(
                    localForm("qtde_volume"), 
                    '_label -> "Carbono Total(ton)",
                    'class ->"input-xlarge",
                    '_help -> "",
                    '_error -> localForm.error("qtde_carbono")
                    )
                    </td>
                     <td>
                         <a href='@routes.DadosLocal.detalheVolume(localForm.get().id)' class="btn btn-info btn-small" rel="tooltip" title="Ver detalhe e estatísticas">Ver Detalhe</a>
                     </td>
                 </tr>
        </table>
        </div>
</div>
}
