@(ldbForm: Form[LocalDetalheCarbono], estimativa:Integer)

@import helper._
@import helper.twitterBootstrap._

@main("Detalhe Cálculo de Carbono"){
    
    @form(action = routes.DadosLocal.calcular(ldbForm.get().local.id, estimativa), 'role -> "form") {
        
       <fieldset>
           <div class="row">
               <div class="span6">
           @inputText(
                ldbForm("qtde_carbono_min"), 
                '_label -> "Qtde Carbono Minima",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("qtde_carbono_min")
            )
			@inputText(
                ldbForm("qtde_carbono_med"), 
                '_label -> "Qtde Carbono Media",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("qtde_carbono_med")
            )
			@inputText(
                ldbForm("qtde_carbono_max"), 
                '_label -> "Qtde Carbono Máxima",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("qtde_carbono_max")
            )
			@inputText(
                ldbForm("media_parcela"), 
                '_label -> "Média da Parcela",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("media_parcela")
            )
			@inputText(
                ldbForm("variancia"), 
                '_label -> "Variância",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("variancia")
            )
			@inputText(
                ldbForm("desvio_padrao"), 
                '_label -> "Desvio Padrão",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("desvio_padrao")
            )
			@inputText(
                ldbForm("variancia_media"), 
                '_label -> "Variância Média",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("variancia_media")
            )
            
               </div>
               <div class="span6">
			@inputText(
                ldbForm("erro_padrao"), 
                '_label -> "Erro Padrão",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("erro_padrao")
            )
			
			@inputText(
                ldbForm("coeficiente_variacao"), 
                '_label -> "Coeficiência de Variância",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("coeficiente_variacao")
            )
			@inputText(
                ldbForm("erro_absoluto"), 
                '_label -> "Erro Absoluto",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("erro_absoluto")
            )
			@inputText(
                ldbForm("erro_relativo"), 
                '_label -> "Erro Relativo",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("erro_relativo")
            )
			@inputText(
                ldbForm("intervalo_confianca_min_parcela"), 
                '_label -> "Intervalo Confianca Min. Parcela",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("intervalo_confianca_min_parcela")
            )
			@inputText(
                ldbForm("intervalo_confianca_max_parcela"), 
                '_label -> "Intervalo Confianca Max. Parcela",
                'class ->"input-xlarge",
                '_help -> "",
                '_error -> ldbForm.error("intervalo_confianca_max_parcela")
            )
               </div>
           </div>
                 
        </fieldset>
    <div class="actions">
            <a href="@routes.DadosLocal.calcular(ldbForm.get().local.id, estimativa)" class="btn btn-primary" >Voltar</a>
            
    </div>
    }

    
}    
