@(id: Long)

@import helper._
@import helper.twitterBootstrap._


@main("Cadastrar Dados do Local"){

@form(action = routes.DadosLocal.novo(1), 'id -> "form") {
<div class="">
    <input type="hidden" name="local.id" class="large" placeholder="Local" value="@id"> 
    <label>Area Total(ha): </label><input type="text" name="local.areatotal" class="large" placeholder="Area Total">  
    <label>Area da Parcela(m2): </label><input type="text" name="local.areatotal" class="large" placeholder="Area da Parcela">
    <h4>Dados de Entrada</h4>
    <br />
    <div class="radios">
    	<label class="radio classe" id="classe" required>
       	<input type="radio" name="classe" id="classe1"  ><label>Deseja Entrar com o valor da Biomassa/Carbono/Volume de cada Parcela. </label>
    	<input type="radio" name="classe" id="classe2" ><label>Deseja entrar com os dados das Arvores para que o programa calcule a Biomassa/Carbono/Volume de cada Parcela.</label>
    </label>
    <br />
    <h4>Tipo de Entrada</h4>
    <br />
  	<label class="radio tipo" id="tipo" required>
  		<input type="radio" name="tipo" id="tipo1"  > <label>Entrada Manual (Digitação dos Dados)</label> 
    	<input type="radio" name="tipo" id="tipo2"  > <label>Importação dos Dados apartir de um arquivo txt.</label>
  	</label>
  	<div id="biomassa_manual" style="display: none">
    
    <div id='jqxWidget biomassa'>
        <div class="jqxgrid" ></div>
            <div style='margin-top: 20px;'>
            <div>
                <input type="button" value="Export to Excel" id='excelExport' class="btn" />
                <input type="button" value="Adicionar Linha" id='addrowbutton' class="btn" />
            </div>
        </div>
    </div>

    </div>
  	<div id="arvore_manual" style="display: none">
  		<div id='jqxWidget arvore'>
  		    <div class="jqxgrid"></div>
  		        <div style='margin-top: 20px;'>
  		        <div>
  		            <input type="button" value="Export to Excel" id='excelExport' class="btn" />
  		            <input type="button" value="Adicionar Linha" id='addrowbutton' class="btn" />
  		        </div>
  		    </div>
  		</div>
  	</div>
  	<div id="biomassa_import" style="display: none">Teste 3</div>
  	<div id="arvore_import" style="display: none">Teste 4</div>
    </div>
    <br />
    <hr>
	<input type="button" class="btn btn-small btn-info" name="Calcular" title="Calcular" value="Calcular">

</div>
}}
<script type="text/javascript">
$(document).ready(function(){
    $(".radios").change(function(){
    	
    	var tipo1 = $("#tipo1").is(":checked");
    	var tipo2 = $("#tipo2").is(":checked");
    	var classe1 = $("#classe1").is(":checked");
    	var classe2 = $("#classe2").is(":checked");

    	if(tipo1 == true && classe1 == true){
    		$("#biomassa_manual").show();
    		$("#arvore_manual").hide();
    		$("#biomassa_import").hide();
    		$("#arvore_import").hide();
    	}
    	else if(tipo1 == true && classe2 == true){
    		$("#biomassa_manual").hide();
    		$("#arvore_manual").show();
    		$("#biomassa_import").hide();
    		$("#arvore_import").hide();
		}
		else if(tipo2 == true && classe1 == true){
			$("#biomassa_manual").hide();
    		$("#arvore_manual").hide();
    		$("#biomassa_import").show();
    		$("#arvore_import").hide();
		}
		else if(tipo2 == true && classe2 == true){
			$("#biomassa_manual").hide();
    		$("#arvore_manual").hide();
    		$("#biomassa_import").hide();
    		$("#arvore_import").show();
		}
		else 
			alert("Selecione um Dado de Entrada e um Tipo de Entrada!!");


    });
    });
</script>
<script type="text/javascript">
         $(".radios").change(function(){
             var theme = 'base';
             // renderer for grid cells.
             var numberrenderer = function (row, column, value) {
                 return '<div style="text-align: center; margin-top: 5px;">' + (1 + value) + '</div>';
             }
             // create Grid datafields and columns arrays.
             var label = [];
             var datafields = [];
             var columns = [];
             cssclass = ' jqx-widget-header-' + theme;
             
             var classe1 = $("#classe1").is(":checked");
    		

             if(classe1 == true){
             	label[0] = "Parcela";
	            label[1] = "Biomassa";
            	label[2] = "Carbono";
             	label[3] = "Volume";


             } else{
             	label[0] = "Parcela";
	            label[1] = "Arvore";
    	        label[2] = "DAP";
        	    label[3] = "Altura";
        	    label[4] = "Biomassa";
        	    label[5] = "Carbono";
        	    label[6] = "Volume";
	
             }

             
             while(columns.length < label.length){
             	columns[columns.length] = {pinned: true, exportable: false, text: "", columntype: 'number', cellclassname: cssclass, cellsrenderer: numberrenderer };
             	
             	datafields[datafields.length] = { name: columns.length - 1 };
                columns[columns.length - 1] = { text: label[columns.length -1], datafield: columns.length, width: 95, align: 'center' };
             }
             var source =
            {
                unboundmode: true,
                totalrecords: 5,
                datafields: datafields,
                updaterow: function (rowid, rowdata) {
                    // synchronize with the server - send update command   
                },
                addrow: function (rowid, rowdata, position, commit) {
                    commit(true);
                }
            };

            
             var dataAdapter = new $.jqx.dataAdapter(source);
             // initialize jqxGrid
             $(".jqxgrid").jqxGrid(
            {
                width: 95 * label.length + 10,
                source: dataAdapter,
                editable: true,
                columnsresize: false,
                selectionmode: 'multiplecellsadvanced',
                theme: theme,
                columns: columns,
                height: 5 * 32
            });

             var generaterow = function () {
                var row =
            	{
                	unboundmode: true,
                	totalrecords: 1,
                	datafields: datafields,
                	updaterow: function (rowid, rowdata) {  
                }
            };
                
                return row;
            }
            
            $("#addrowbutton").on('click', function () {
                var datarow = generaterow();
                var commit = $(".jqxgrid").jqxGrid('addrow', null, datarow);
            });
            
            $("#excelExport").click(function () {
                $(".jqxgrid").jqxGrid('exportdata', 'xls', 'jqxGrid', true);
            });
        });
    </script>