@(id: Long, variavelForm: Form[Variavel])

@import helper._

@import helper.twitterBootstrap._ 

@main("Alterar Bioma") {
    
    @form(action = routes.Variaveis.update(id)) {
        
        <fieldset>
           @inputText(
                variavelForm("nome"), 
                '_label -> "Nome",
                'class ->"input-xlarge",
                'placeholder->"Digite o nome da variável",
                '_help -> "",
                '_error -> variavelForm.error("nome")
            )
                 
           @inputText(
                variavelForm("sigla"), 
                '_label -> "Sigla",
                'class ->"input-xlarge",
                'placeholder->"Digite a sigla da variável",
                '_help -> "",
                '_error -> variavelForm.error("sigla")
            )
                 
        </fieldset>
       
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Salvar">
            <a href="@routes.Biomas.manter(0, "nome", "asc", "")" class="btn">Voltar</a>
        </div>
        
    }
 
     
        
}
