@(currentPage: com.avaje.ebean.Page[Variavel], currentSortBy: String, currentOrder: String, currentFilter: String, variavelForm: Form[Variavel])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Variaveis.manter(newPage, sortBy, order, currentFilter)
    
}
@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@import helper._
@import helper.twitterBootstrap._

@main("Cadastrar Variável"){
    
    @form(action = routes.Variaveis.salvar, 'role -> "form") {
        
        <fieldset>
           @inputText(
                variavelForm("nome"), 
                '_label -> "Nome",
                'class ->"input-xlarge",
                'placeholder->"Digite o nome da variável",
                '_help -> "",
                '_error -> variavelForm.error("nome")
            )
                 
           @inputText(
                variavelForm("sigla"), 
                '_label -> "Sigla",
                'class ->"input-xlarge",
                'placeholder->"Digite a sigla da variável",
                '_help -> "",
                '_error -> variavelForm.error("sigla")
            )
                 
        </fieldset>
        
       
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Incluir">
            
        </div>
    <br>
        <h3 id="homeTitle">@Messages("Variáveis", currentPage.getTotalRowCount)</h3>
}
    @if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Feito!</strong> @flash.get("success")
        </div>
    } 
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERRO!</strong> @flash.get("error")
        </div>
    } 

    <hr>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nenhuma Variável Cadastrada</em>
        </div>
        
    } else {
       <div class="well">
        <table class="table">
            <thead>
                <tr class="tablehead">
                    @header("nome", "Nome")
                    @header("sigla", "Sigla")
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>

                @for(variavel <- currentPage.getList) {
                    <tr>
                        <td>
                            @variavel.nome
                        </td>
                        <td>
                            @variavel.sigla
                        </td>
                        <td>
                               <a href="@routes.Variaveis.editar(variavel.id)" class="btn btn-primary btn-small" rel="tooltip" title="Editar @variavel.nome">Editar</a>
                        </td>
                         
                        <td> 
                               <a href="@routes.Variaveis.deletar(variavel.id)" class="btn btn-danger btn-small" rel="tooltip" title="Excluir @variavel.nome">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       </div>
        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Exibindo @currentPage.getDisplayXtoYofZ(" a "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Próxima &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }
}    
