#expressao{
    width: 700px;
}

.input-micro{
	width: 30px;
	font-size:12px;
}

table#operadores{
	border-style:double;
		border-color:black;
		padding-left: 5px;
		padding-right:5px;
		font-family: sans-serif;
        background-color:#b8c3cd;
	}

.operador{
           width:100%;
        }



