@(id: Long, compartimentoForm: Form[Compartimento])

@import helper._

@import helper.twitterBootstrap._ 

@main("Alterar Compartimento") {
    
    @form(routes.Compartimentos.update(id)) {
        
        <fieldset>
                        
            @inputText(
                compartimentoForm("descricao"), 
                '_label -> "Descrição",
                'class ->"input-xlarge",
                'rel->"tooltip",
                'title->"Digite o nome do Comapartimento",
                '_help -> "",
                '_error -> compartimentoForm.error("descricao")
            )
                 
        </fieldset>
        
       
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Salvar">
            <a href="@routes.Compartimentos.manter(0, "descricao", "asc", "")" class="btn">Voltar</a>
        </div>
        
    }
 
     
        
}
