@(equacao : Equacao, campos : List[String], idLocal : Long, tipoEstimativa : Integer)

@import helper._

@import helper.twitterBootstrap._ 

@stylesheet = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/equacao.css")">
}

@javascript = {
<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/bootbox.min.js")"></script>
<script type="text/javascript">
    function replaceAll(find, replace, str) 
    {
      while( str.indexOf(find) > -1)
      {
        str = str.replace(find, replace);
      }
      return str;
    }
    $(document).ready(function () {
            var fields = new Array();
            var colunas = new Array();
            
            @for((campo, count) <- campos.zipWithIndex) {
                fields[@count]={ name: '@campo', type: 'number'};
                colunas[@count] ={ text: '@campo', datafield: '@campo', width: '115' };
            }
                      
            var source =
            {
                datafields: fields
             };
            var adapter = new $.jqx.dataAdapter(source);
            var grid_modelo = $("#grid").jqxGrid(
            {
                source: adapter,    
                width: '100%',
                height: 300,
                selectionmode: 'multiplecellsadvanced',
                editable: true,
                columnsresize: false,
                columns: colunas
            });
            
            for (var i = 0; i < 5; i++) {
                    grid_modelo.jqxGrid('addrow', null, {});
                };   
             $("#addRow").on('click', function () {
                grid_modelo.jqxGrid('addrow', null, {});
            });
            
           
        });
        
$("#ajustarBtn").click(function (){
                var numeroColunas = @{campos.length + 1};
                var griddata = $('#grid').jqxGrid('getdatainformation');
                var rows = [];
                var countPreenchido=0; 
                for (var i = 0; i < griddata.rowscount; i++){
                    rows.push($('#grid').jqxGrid('getrowdata', i));
                }
               jsRoutes.controllers.Modelos.fazerAjuste(@idLocal, @equacao.id, @tipoEstimativa).ajax({
                    type :  "POST",
                    dataType: 'json',
                    contentType : 'application/json; charset=utf-8',
                    data: JSON.stringify(rows),
                    success: function(data){
                        @{var numero=0;}
                        @for(numero<-0 until equacao.qtd_coeficientes){
                            $("#b@numero").val(data.b@numero);
                        }
                        $("#equacao").val(replaceAll(".", ",", data.expressao));
                        $("#r2").val(data.r2);
                        $("#r2ajust").val(data.r2Ajust);
                        $("#syx").val(data.syx);
                },
                error : function(err) {
                    
                    bootbox.dialog({
                        message: "Erro no preenchimento da tabela. Linhas incompletas ou nenhuma linha preenchida.",
                        title: "Erro",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });
                                
                }
                });    
         })
        
       
</script>


}

@main("Ajustar Modelo", javascript, stylesheet) {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Feito!</strong> @flash.get("success")
        </div>
    } 
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERRO!</strong> @flash.get("error")
        </div>
    }
     <div  class="form-horizontal">
        <div class="control-group">  
                <label class="control-label" for="input01">Modelo</label>  
                <div class="controls">  
                  <input type="text" class="input-xxlarge" id="modelo" disabled value="@equacao.expressao_modelo">  
                </div> 
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div id='grid' class="jqxgrid" style="font-size: 13px; font-family: Verdana; float: left;"></div>
            
        </div>
        
       <div class="span6">
           <div  class="form-horizontal">
            @{var numero=0;}
              @for(numero<-0 until equacao.qtd_coeficientes){
              <div class="control-group">  
                <label class="control-label" for="input" >b@numero</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="b@numero" readonly>  
                </div>  
             </div>  
            }
            <div class="control-group">  
                <label class="control-label">Equação</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="equacao" readonly>   
                </div>  
             </div>
            <div class="control-group">  
                <label class="control-label">R2</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="r2" readonly>  
                </div>  
             </div> 
            <div class="control-group">  
                <label class="control-label">R2Ajust</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="r2ajust" readonly>  
                </div>  
             </div> 
            <div class="control-group">  
                <label class="control-label">Syx</label>  
                <div class="controls">  
                  <input type="text" class="input-xlarge" id="syx" readonly>  
                </div>  
             </div> 
           </div> 
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="button-grid">
                          <input type="button" id='addRow' class="btn btn-small" value="Adicionar Linha"/>
            </div>
           </div>
       </div> 
    <div class="actions" >
            <a id="ajustarBtn" href="#" class="btn btn-primary">Ajustar</a>
            <a id="voltarBtn" href="@routes.DadosLocal.calcular(idLocal, tipoEstimativa)" class="btn">Voltar</a>
     </div>
     
    <br>
   <div>
        <table class="well" >
           
       @for(variavel<-equacao.equacao_variavel){
       <tr>
           <td class="legenda">@variavel.variavel.sigla :</td><td  class="legenda">@variavel.variavel.nome</td>
       </tr>
       }
       </table>
   </div>
}

