@(variavelInteresse : Long =0 , modeloForm: Form[Modelo])

@import helper._

@import helper.twitterBootstrap._ 

@stylesheet = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/equacao.css")">
}

@javascript = {
<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

<script type="text/javascript">
        var arrayABC= new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');
        var countVariavel=0;
	var termos = new Array();
        var countTermos=0;
   
    function Termo(tipo, tamanho){
        this.tipo = tipo;
        this.tamanho = tamanho;
    }
    
    function populaTermos(tipo, tamanho){
        termos[countTermos]= new Termo(tipo, tamanho);
        countTermos++;
      }
    
    function acrescentaTermo(termo){
        $("#visualizacao").val($("#visualizacao").val()+termo);
        $("#expressao").val($("#expressao").val()+termo);
    }
    function pode(caso){
        switch(caso){
         case 'negativo':
             if (countTermos===0)
                return true;
         case 'fechaParenteses':
         case 'operador':
             if (countTermos===0)
                return false;
            var termo = termos[countTermos-1];
            return (termo.tipo==="variavel"||termo.tipo==="constante"||termo.tipo==="fechaParenteses");
         break;
         case 'constante':
         case 'variavel':
         case 'operadorComParenteses':
             if (countTermos===0)
                return true;
             var termo = termos[countTermos-1];
             return (termo.tipo==="operador" || termo.tipo==="abreParenteses");             
         break;
         case 'abreParenteses':
              if (countTermos===0)
                return true;
             var termo = termos[countTermos-1];
             return (termo.tipo==="operador" || termo.tipo==="abreParenteses"||termo.tipo==="operadorComParenteses");
         break;
         default: return true;
    }
        
    }
	
  $('body').on('change', '#variavel',function(){
              	if(pode("variavel")){
                    var stringVariavel=$("#variavel").val();
                     $("#visualizacao").val($("#visualizacao").val()+stringVariavel);
                     $("#expressao").val($("#expressao").val()+"valor_variavel_"+arrayABC[countVariavel]);
                     $("#divVariaveis").append("<div id='"+arrayABC[countVariavel]+"'><input type='hidden' name='variavel_"+arrayABC[countVariavel]+"' value='"+stringVariavel+"'>\n\
                                                </div>");
                    countVariavel++;
                    populaTermos("variavel",stringVariavel.length);
		}
                $("#variavel").val("0");
		
})       
  $("#adicionarConstanteBtn").click(function(){
        	if(pode("constante")){
                    var stringConstante = $("#constante").val();
                        acrescentaTermo(stringConstante);
			populaTermos("constante", stringConstante.length);
                }
                $("#constante").val("");
		
})
 $("#multiplicacao").click(function(){
		if(pode("operador")){
                        acrescentaTermo("*");
			populaTermos("operador",1);
		}
})
$("#divisao").click(function(){
		if(pode("operador")){
                    acrescentaTermo("/");
                    populaTermos("operador",1);
		}
})
$("#adicao").click(function(){
                if(pode("operador")){
                acrescentaTermo("+");
		populaTermos("operador",1);
		}
		
})
$("#subtracao").click(function(){
                if(pode("negativo")){
                    acrescentaTermo("-");
                    populaTermos("operador",1);
		}
		
})
$("#potencicao").click(function(){
		if(pode("operador")){
                    acrescentaTermo("^");
                    populaTermos("operador",1);
                }
})
$("#raiz").click(function(){
                if(pode("operadorComParenteses")){
                    acrescentaTermo("Raiz");
                    populaTermos("operador",4);
                }
		
})
$("#logaritmoNeperiano").click(function(){
                if(pode("operadorComParenteses")){
                    acrescentaTermo("LN");
                    populaTermos("operador",2);
		}
		
})
$("#logaritmo").click(function(){
		if(pode("operadorComParenteses")){
                    acrescentaTermo("Log");
                    populaTermos("operador",3);
                }
})
$("#exponencial").click(function(){
		if(pode("operador")){
                    acrescentaTermo("Exp");
                    populaTermos("operador",3);
                }
})
$("#virgula").click(function(){
		if(pode("operador")){
                    acrescentaTermo(",");
                    populaTermos("operador",1);
		}
})
$("#abreParenteses").click(function(){
                if(pode(abreParenteses)){
                    acrescentaTermo("(");
                    populaTermos("abreParenteses",1);
                 }
				
})
$("#fechaParenteses").click(function(){
                if(pode(fechaParenteses)){
                    acrescentaTermo(")");
                    populaTermos("fechaParenteses",1);
                }
})

$('body').on('click','#CE',function(){
     if(countTermos>0){
        var auxVisualizacao = $("#visualizacao").val();
        var auxExpressao = $("#expressao").val();
        if(termos[countTermos-1].tipo==="variavel"){
            countTermos--;
            auxVisualizacao = auxVisualizacao.substring(0, auxVisualizacao.length - termos[countTermos].tamanho);
            auxExpressao = auxExpressao.substring(0, auxExpressao.length - 16);
             countVariavel--;
             $("#"+arrayABC[countVariavel]).remove();
             

        }else{
            countTermos--;
            auxVisualizacao = auxVisualizacao.substring(0, auxVisualizacao.length - termos[countTermos].tamanho);
            auxExpressao = auxExpressao.substring(0, auxExpressao.length - termos[countTermos].tamanho);
           
        }
            $("#visualizacao").val(auxVisualizacao);
            $("#expressao").val(auxExpressao);

            input.value = input.value.substring(0, input.value.length - 1);
    }
            
	})
$('body').on('click','#C', function(){
        $("#visualizacao").val("");
        $("#expressao").val("");
        $("#divVariaveis").html("");
                countVariavel=0;
		countTermos=0;
	})  
</script>
}

@main("Cadastrar Modelo", javascript, stylesheet) {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Feito!</strong> @flash.get("success")
        </div>
    } 
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERRO!</strong> @flash.get("error")
        </div>
    } 
    
    @form(routes.Modelos.salvar(variavelInteresse)) {
        
        <fieldset>
                <div class="clearfix  " id="bioma_field">
           <label for="bioma">Equação para calculo de</label>
           <div class="input">
           <select id="variavel_interesse" name="variavel_interesse.id" class="input-large" disabled>
              @for(opcao<-VariavelInteresse.opcoes){
                      <option value ="@opcao._1" @if(variavelInteresse.toString == opcao._1){selected}>@opcao._2</option>
              } 
           </select>
               <input type="hidden" name="variavel_interesse.id" value ="@variavelInteresse">
               <span class="help-inline"></span>
               <span class="help-block"></span> 
           </div>
           </div>
            <table>
                <tr>
                    <td>
            @select(
                        modeloForm("autor_modelo.id"), 
                        options(AutorModelo.opcoes), 
                        '_label -> "Autor",
                        'class ->"input-xlarge",
                        '_default -> "-- Escolha o Autor --",
                        '_showConstraints -> false,
                        '_error -> modeloForm.error("autor")

                    )
                    </td>
                    <td>
                        <a href="@routes.AutoresModelos.manter()" align="bottom" class="btn btn-info btn-mini" rel="tooltip" title="Cadastrar novo Autor">Novo</a>
                    </td>
                    </tr>
                    </table>
                  <div class="clearfix  " id="expressao_field">
                   <label for="expressao">Equação:</label>
                       <div class="input">
                           <input type="hidden" id="expressao" name ="expressao">
                           <input type="text" id="visualizacao" name="visualizacao" readonly rel="tooltip" title="Insira a equação">

                               <span class="help-inline"></span>
                               <span class="help-block"></span> 
                       </div>
          </div>
          <div class="row">
                   <div class="span6">
                       <h4>Variáveis</h4>
                       <select id="variavel" name="variavel" class="input-xlarge">
                           <option value ="0">-- Variáveis --</option>
                           
                            @for(opcao<-Variavel.opcoes){
                              <option value ="@opcao._1">@opcao._2</option>
                             } 
                    </select>
                     <a href="@routes.Variaveis.manter()" align="bottom" class="btn btn-info btn-mini" rel="tooltip" title="Cadastrar nova variável">Nova</a>
                    <h4>Constantes</h4>
                        <input type="text" id="constante" name="expressao" rel="tooltip" title="Digite uma Constante">
                        <a type="button" class="btn btn-info  btn-mini" id="adicionarConstanteBtn" rel="tooltip" title="Adicionar constante"> + </a>
                   </div>
          <div class="span6">
                     <h4>Operadores</h4>
                     <div id="corpo">
                        <table id="operadores">
                            <tr><td colspan="2"><input type="button" rel="tooltip" title="Apaga a última inclusão" style="width:100%" value="CE" id="CE"/></td>
                                <td colspan="2" ><input  type="button" rel="tooltip" title="Apaga tudo" style="width:100%" value="C" id="C"/></td>
                            </tr>
                            
                            <tr>
                                <td><input type="button" rel="tooltip" title="Adição" style="width:100%" value="+" id="adicao"/></td>
                                <td><input type="button" rel="tooltip" title="Subtração" style="width:100%" class="operador" value="-" id="subtracao"/></td>
                                <td><input type="button" rel="tooltip" title="Multiplicacao" style="width:100%" value="*" id="multiplicacao"/></td>
                                <td><input type="button" rel="tooltip" title="Divisão" style="width:100%" value="/" id="divisao"/></td>
                            </tr>
                            
                            <tr>
                                <td><input type="button" rel="tooltip" title="Potência - Usar a^2" style="width:100%" value="^" id="potencicao"/></td>
                                <td><input type="button" rel="tooltip" title="Raiz - Usar Raiz(base,índice)" type="button"  style="width:100%" value="Raiz" id="raiz"/></td>
                                <td><input type="button" rel="tooltip" title="Logarítmo Neperiano - LN()" type="button"  style="width:100%" value="LN" id="logaritmoNeperiano"/></td>
                                <td><input type="button" rel="tooltip" title="Logarítmo na base 10" style="width:100%" value="log" id="logaritmo"/></td>
                                
                            </tr>
                            
                            <tr>
                                <td><input type="button" rel="tooltip" title='Exponêncial - Usar Exp(b) para "e" elevado a "b"' style="width:100%" value="Exp" id="exponencial"/></td>
                                <td><input type="button" rel="tooltip" title='Virgula - Para usar no operador "Raíz"' style="width:100%" value="," id="virgula"/></td>
                                <td><input type="button" rel="tooltip" title='Abre Parenteses' style="width:100%" value="(" id="abreParenteses"/></td>
                                <td><input type="button" rel="tooltip" title='Fecha Parenteses' style="width:100%" value=")" id="fechaParenteses"/></td>
                            </tr>
                        </table>
                    </div>
            </div>
           </div>
        </fieldset>
        <div id="divVariaveis">
        </div>
       
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Salvar">
        </div>
        
    }
 
     
        
}
