@(variavelInteresse : Long =0 ,equacaoForm: Form[Equacao], quemChama : Integer)


@javascript = {
   <script type="text/javascript">
        var variavelUtilizada = new Array();
        var countVariavel=0;
	var elementos = new Array();
        var countElementos=0;
        var countTermo = 0;
        var tamanhoTermos=new Array();
        var countVarElem = 0
        var varElemento = new Array();
      
    function Elemento(tipo, tamanho){
        this.tipo = tipo;
        this.tamanho = tamanho;
    }
    
    function populaElementos(tipo, tamanho){
        elementos[countElementos]= new Elemento(tipo, tamanho);
        countElementos++;
      }
    
    function acrescentaElemento(elemento){
        $("#termo").val($("#termo").val()+elemento);
    }
    function existe(vetor, objeto) {
        for (var i = 0; i < vetor.length; i++) {
            if (vetor[i][0] === objeto) {
                return true;
            }
    }
    return false;
    }
    function pode(caso){
        switch(caso){
         case 'negativo':
             if (countElementos===0)
                return true;
         case 'fechaParenteses':
         case 'operador':
             if (countElementos===0)
                return false;
            var elemento = elementos[countElementos-1];
            return (elemento.tipo==="variavel"||elemento.tipo==="numero"||elemento.tipo==="fechaParenteses");
         break;
         case 'variavel':
         case 'operadorComParenteses':
             if (countElementos===0)
                return true;
             var elemento = elementos[countElementos-1];
             return (elemento.tipo==="operador" || elemento.tipo==="abreParenteses");             
         break;
         case 'numero':
         if (countElementos===0)
                return true;
             var elemento = elementos[countElementos-1];
             return (elemento.tipo==="operador" || elemento.tipo==="abreParenteses"|| elemento.tipo==="numero" || elemento.tipo==="ponto");             
         break;
         
         case 'abreParenteses':
              if (countElementos===0)
                return true;
             var elemento = elementos[countElementos-1];
             return (elemento.tipo==="operador" || elemento.tipo==="abreParenteses"||elemento.tipo==="operadorComParenteses");
         break;
         
         case 'ponto':
             var elemento = elementos[countElementos-1];
             return (elemento.tipo==="numero");
         break
         default: return true;
    }
        
    }
	
    $('#adicionarTermoBtn').click(function(){
       var stringExpressao =$("#expressao").val();
       var stringTermo=$("#termo").val();
       var stringAux
       if(stringTermo===""){
         stringAux = "b"+countTermo;
         stringTermo=1;
        }else{
            stringAux = "b"+countTermo+"*("+stringTermo+")";
        }
       if(countTermo>0){
           stringExpressao = stringExpressao+"+"+stringAux;
           tamanhoTermos[countTermo]=stringAux.length+1;
       }
        else{
            stringExpressao = stringAux;
            tamanhoTermos[countTermo]=stringAux.length;
        }
        if(countVarElem>0){
            for(var i=0; i<countVarElem; i++){
                 if(countVariavel>0){
                      if(!existe(variavelUtilizada, varElemento[i][0])){
                        $("#divVariaveis").append("<div id='equacaoVariavel_"+countVariavel+"'>\n\
                                                    <input type='hidden' name='equacao_variavel["+countVariavel+"].variavel.id' value='"+varElemento[i][0]+"'>\n\
                                                    <input type='hidden' name='equacao_variavel["+countVariavel+"].valor' value='0'> </div>");

                       variavelUtilizada[countVariavel]=[varElemento[i][0], varElemento[i][1]];
                       countVariavel++;
                   }
                   }else{
                        $("#divVariaveis").append("<div id='equacaoVariavel_"+countVariavel+"'>\n\
                                                    <input type='hidden' name='equacao_variavel["+countVariavel+"].variavel.id' value='"+varElemento[i][0]+"'>\n\
                                                    <input type='hidden' name='equacao_variavel["+countVariavel+"].valor' value='0'> </div>");

                       variavelUtilizada[countVariavel]=[varElemento[i][0], varElemento[i][1]];
                       countVariavel++;
                    }
                    
               }
               countVarElem=0
               varElemento=new Array;
        }
       $("#expressao").val(stringExpressao);
       $("#divTermos").append("<div id='divTermo_"+countTermo+"'>\n\
                                <input type='hidden' name='termos["+countTermo+"].expressao' value='"+stringTermo+"'>\n\
                                <input type='hidden' name='termos["+countTermo+"].ordem' value='"+countTermo+"'> </div>");
        
            
        countElementos=0;
        countTermo++;
        $("#qtdCoeficientes").val(countTermo);
        $("#termo").val("");
        $("#coeficiente").val("b"+countTermo);
       })    
        
    $('#variavel').change(function(){
               	if(pode("variavel")){
                    var auxVariavel = $("#variavel").val().split(",");
                    
                    acrescentaElemento(auxVariavel[1]);
                    populaElementos("variavel",auxVariavel[1].length);
                    varElemento[countVarElem]=[auxVariavel[0], auxVariavel[1]];
                    countVarElem++;
                    
                }
                $("#variavel").val("0");
		
})  
 $("#multiplicacao").click(function(){
		if(pode("operador")){
                        acrescentaElemento("*");
			populaElementos("operador",1);
		}
})
$("#divisao").click(function(){
		if(pode("operador")){
                    acrescentaElemento("/");
                    populaElementos("operador",1);
		}
})
$("#adicao").click(function(){
                if(pode("operador")){
                acrescentaElemento("+");
		populaElementos("operador",1);
		}
		
})
$("#subtracao").click(function(){
                if(pode("negativo")){
                    acrescentaElemento("-");
                    populaElementos("operador",1);
		}
		
})
$("#potenciacao").click(function(){
		if(pode("operador")){
                    acrescentaElemento("^");
                    populaElementos("operador",1);
                }
})
$("#raiz").click(function(){
                if(pode("operadorComParenteses")){
                    acrescentaElemento("sqrt");
                    populaElementos("operador",4);
                }
		
})
$("#logaritmoNeperiano").click(function(){
                if(pode("operadorComParenteses")){
                    acrescentaElemento("ln");
                    populaElementos("operador",2);
		}
		
})
$("#logaritmo").click(function(){
		if(pode("operadorComParenteses")){
                    acrescentaElemento("log");
                    populaElementos("operador",3);
                }
})
$("#exponencial").click(function(){
		if(pode("operadorComParenteses")){
                    acrescentaElemento("exp");
                    populaElementos("operador",3);
                }
})
$("#ponto").click(function(){
		if(pode("operador")){
                    acrescentaElemento(".");
                    populaElementos("ponto",1);
		}
})
$("#abreParenteses").click(function(){
                if(pode(abreParenteses)){
                    acrescentaElemento("(");
                    populaElementos("abreParenteses",1);
                 }
				
})
$("#fechaParenteses").click(function(){
                if(pode("fechaParenteses")){
                    acrescentaElemento(")");
                    populaElementos("fechaParenteses",1);
                }
})

$("#zero").click(function(){
                if(pode("numero")){
                    acrescentaElemento("0");
                    populaElementos("numero",1);
                }
})

$("#um").click(function(){
                if(pode("numero")){
                    acrescentaElemento("1");
                    populaElementos("numero",1);
                }
})

$("#dois").click(function(){
                if(pode("numero")){
                    acrescentaElemento("2");
                    populaElementos("numero",1);
                }
})

$("#tres").click(function(){
                if(pode("numero")){
                    acrescentaElemento("3");
                    populaElementos("numero",1);
                }
})

$("#quatro").click(function(){
                if(pode("numero")){
                    acrescentaElemento("4");
                    populaElementos("numero",1);
                }
})

$("#cinco").click(function(){
                if(pode("numero")){
                    acrescentaElemento("5");
                    populaElementos("numero",1);
                }
})

$("#seis").click(function(){
                if(pode("numero")){
                    acrescentaElemento("6");
                    populaElementos("numero",1);
                }
})

$("#sete").click(function(){
                if(pode("numero")){
                    acrescentaElemento("7");
                    populaElementos("numero",1);
                }
})

$("#oito").click(function(){
                if(pode("numero")){
                    acrescentaElemento("8");
                    populaElementos("numero",1);
                }
})

$("#nove").click(function(){
                if(pode("numero")){
                    acrescentaElemento("9");
                    populaElementos("numero",1);
                }
})

$('#CE').click(function(){
     if(countElementos>0){
        var auxTermo=$("#termo").val();
        
        if(elementos[countElementos-1].tipo==="variavel"){
            countVarElem--
            varElemento[countVarElem]=[0, ""];
        }               
            countElementos--;
            auxTermo = auxTermo.substring(0, auxTermo.length - elementos[countElementos].tamanho);
            $("#termo").val(auxTermo);
        }
            
})
$('#C').click(function(){
        $("#termo").val("");
        countVarElem=0;
        varElemento = new Array();
        countElementos=0;
        elementos = new Array();
        
})

$('#limparExpressao').click(function(){
    if(countTermo>0){
        var auxExpressao=$("#expressao").val();
        countTermo--;
        auxExpressao = auxExpressao.substring(0, auxExpressao.length - tamanhoTermos[countTermo]);
        
        if(countVariavel>0){
            for(var i=countVariavel-1; i>=0; i--){
                    if(auxExpressao.search(variavelUtilizada[i][1])===-1){
                        countVariavel--;
                        variavelUtilizada[countVariavel][0]=[-1];
                        variavelUtilizada[countVariavel][1]=[""];
                         $("#"+"equacaoVariavel_"+countVariavel).remove();
                     }
            }
         }
        $("#qtdCoeficientes").val(countTermo);
        $("#coeficiente").val("b"+countTermo);
        $("#"+"divTermo_"+countTermo).remove();
        $("#expressao").val(auxExpressao);
    }    
})

</script>
<script type="text/javascript">
        $("#saveModalButton").click(function(e){
                 var dataFilterRequest = jQuery.ajax({
                    url: '@routes.Modelos.salvarAjax(variavelInteresse)',
                    type: 'post',
                    data: $("#modeloForm").serialize(),
                    dataFilter: function(data, type){
                        return data;
                    }
                });
                dataFilterRequest.done(function(data){
				if(data.error=="null"){
                    @if(variavelInteresse==1){
                        $("#modeloEquacaoBiomassa").append("<option value='" + data.id + "'>Não possui equação cadastrada | B= " + data.expressao_modelo +"</option>").val(data.id)
                        $("#modalModelo").modal("hide");
                    }
                    @if(variavelInteresse==2){
                        $("#modeloEquacaoCarbono").append("<option value='" + data.id + "'>Não possui equação cadastrada | C= " + data.expressao_modelo +"</option>").val(data.id)
                        $("#modalModelo").modal("hide");
                    }
                    @if(variavelInteresse==3){
                        $("#modeloEquacaoVolume").append("<option value='" + data.id + "'>Não possui equação cadastrada | V= " + data.expressao_modelo +"</option>").val(data.id)
                        $("#modalModelo").modal("hide");
                    } 
				}else{
					alert(data.error);
				}	
                       
                }).fail(function(jqXHR, textStatus){
                    $("#equacaoForm").html(jqXHR.responseText);
                });
                e.preventDefault();
            });
                        
</script>
}

@import helper._
@import helper.twitterBootstrap._

@modal(if(quemChama!=2){"Cadastrar Modelo"}else{"Editar Modelo"}, "Salvar", quemChama, javascript){
    
     @form(routes.Modelos.salvar(variavelInteresse), 'id -> "modeloForm") {
     <fieldset style="margin-left:10%; margin-right:auto;">
           <div class="clearfix>
           <label for="bioma">Equação para cálculo de</label>
           <div class="input">
           <select id="variavel_interesse" name="variavel_interesse.id" class="input-large" disabled>
              @for(opcao<-VariavelInteresse.opcoes){
                      <option value ="@opcao._1" @if(variavelInteresse.toString == opcao._1){selected}>@opcao._2</option>
              } 
           </select>
               <input type="hidden" name="variavel_interesse.id" value ="@variavelInteresse">
               <input type="hidden" name="qtd_coeficientes" value ="0" id="qtdCoeficientes">
           </div>
           </div>
            <table>
                <tr>
                    <td>
            @select(
                        equacaoForm("autor_modelo.id"), 
                        options(AutorModelo.opcoes), 
                        '_label -> "Autor",
                        'class ->"input-xlarge",
                        'id->"autor_modelo_id",
                        '_default -> "-- Escolha o Autor --",
                        '_showConstraints -> false,
                        '_error -> equacaoForm.error("autor")

                    )
                    </td>
                    
                    </tr>
                    </table>
            <div class="clearfix  " id="expressao_field">
                   <h4 for="expressao">Modelo:</h4>
                       <div class="input">
                               <input type="text" id="expressao" style="width: 700px;" name="expressao_modelo" readonly rel="tooltip" title="Insira a equação">
                               <a class="btn btn-info  btn-mini" rel="tooltip" title="Apaga último termo" id="limparExpressao">-</a>
                               <span class="help-inline"></span>
                               <span class="help-block"></span> 
                       </div>
            </div>
          <fieldset>
              <h4>Termo:</h4>
                <div class="control-group" >
                <div>
                      <input type="text" class="input-micro" id="coeficiente" value="b0" name="coeficiente" disabled>
                      <span style="font-size:xx-large">*</span>

                        <input type="text" class="input-xxlarge" id="termo" value="" name="termo_display" disabled>
                        <a type="button" class="btn btn-info  btn-mini" id="adicionarTermoBtn" rel="tooltip" title="Adicionar termo ao modelo."> + </a>
                 </div>
                <div class="row">
                    <div class="span6">
                         <div id="selectVariavel">
                           <label>Variáveis</label>
                           <select id="variavel" name="variavel" class="input-xlarge">
                               <option value ="0">-- Variáveis --</option>

                                @for(opcao<-Variavel.opcoes){
                                  <option value ="@opcao._1">@opcao._2</option>
                                 } 
                        </select>
                        

                       </div>
                 </div>
                <div class="span6">

                         <label>Operadores</label>
                         <div id="corpo">
                            <table id="operadores" style="border-style:double;border-color:black; padding-left: 5px;padding-right:5px;font-family: sans-serif;
                            background-color:#b8c3cd;">
                                <tr>
                                    <td colspan="2"><input type="button" rel="tooltip" title="Apaga a última inclusão" style="width:100%" value="CE" id="CE"/></td>
                                    <td><input  type="button" rel="tooltip" title="Apaga tudo" style="width:100%" value="C" id="C"/></td>
                                    <td><input type="button" rel="tooltip" title="Adição" style="width:100%" value="+" id="adicao"/></td>
                                    <td><input type="button" rel="tooltip" title="Potência - Usar a^2" style="width:100%" value="^" id="potenciacao"/></td>
                                </tr>

                                <tr>
                                    <td><input type="button" style="width:100%" value="9" id="nove"/></td>
                                    <td><input type="button" style="width:100%" value="8" id="oito"/></td>
                                    <td><input type="button" style="width:100%" value="7" id="sete"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title="Subtração" value="-" id="subtracao"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title="Raiz - Usar Raiz(base,índice)" type="button" value="sqrt" id="raiz"/></td>
                               </tr>

                                <tr>
                                    <td><input type="button" style="width:100%" value="6" id="seis"/></td>
                                    <td><input type="button" style="width:100%" value="5" id="cinco"/></td>
                                    <td><input type="button" style="width:100%" value="4" id="quatro"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title="Multiplicacao"  value="*" id="multiplicacao"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title="Logarítmo na base 10" value="log" id="logaritmo"/></td>
                               </tr>
                               <tr>
                                    <td><input type="button" style="width:100%" value="3" id="tres"/></td>
                                    <td><input type="button" style="width:100%" value="2" id="dois"/></td>
                                    <td><input type="button" style="width:100%" value="1" id="um"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title="Divisão" value="/" id="divisao"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title="Logarítmo Neperiano - ln()" type="button"  value="ln" id="logaritmoNeperiano"/></td>
                               </tr>
                                <tr>
                                    <td><input type="button" style="width:100%" value="0" id="zero"/></td>
                                    <td><input type="button" style="width:100%" value="." id="ponto"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title='Abre Parenteses' value="(" id="abreParenteses"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title='Fecha Parenteses' s value=")" id="fechaParenteses"/></td>
                                    <td><input type="button" style="width:100%" rel="tooltip" title='Exponêncial - Usar exp(b) para "e" elevado a "b"' value="exp" id="exponencial"/></td>
                                </tr>
                            </table>
                        </div>
                </div>
               </div>
        </div>              
      </fieldset>
        <div id="divVariaveis"></div>
        <div id="divTermos"></div>
        
      </fieldset>  
    }
    
   <hr>
    
}    
