@(autorForm: Form[AutorModelo])


@javascript = {
    <script type="text/javascript">
        jQuery(function(){

            $("#saveModalButton").click(function(e){
                var url = $("#formAutor").attr("action");
                var dataFilterRequest = jQuery.ajax({
                    url: url,
                    type: 'post',
                    data: $("#formAutor").serialize(),
                    dataFilter: function(data, type){
                        return data;
                    }
                });
                dataFilterRequest.done(function(data){
                    $("#autor_modelo_id").append("<option value='" + data.id + "'>"+data.nome+"</option>").val(data.id)
                    $("#modal").modal("hide");
                }).fail(function(jqXHR, textStatus){
                    $("#modal").html(jqXHR.responseText);
                });
                e.preventDefault();
            });
        });
    </script>
}

@import helper._
@import helper.twitterBootstrap._

@modal("Cadastrar e Selecionar Autor de Modelo", "Salvar", javascript){
    
    @form(action = routes.AutoresModelos.salvarSelecionar, 'role -> "form", 'id -> "formAutor") {
        
        <fieldse>
           @inputText(
                autorForm("nome"), 
                '_label -> "Autor",
                'class ->"input-xlarge",
                'placeholder->"Digite o nome do autor",
                '_help -> "",
                '_error -> autorForm.error("nome")
            )
                 
        </fieldset>
    }

    <div class="alert alert-error" style="display: none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>ERRO!</strong>
    </div>

    <hr>
    
}    
