@(id: Long, metodoQCForm: Form[MetodoQuantificacaoCarbono])

@import helper._

@import helper.twitterBootstrap._ 

@main("Alterar Método de Quantificação de Carbono") {
    
    @form(routes.MetodosQC.update(id)) {
        
        <fieldset>
                        
            @inputText(
                metodoQCForm("descricao"), 
                '_label -> "Método de Quantificação de Carbono",
                'class ->"input-xlarge",
                'rel->"tooltip",
                'title->"Digite o nome do Método",
                '_help -> "",
                '_error -> metodoQCForm.error("nome")
            )
                 
        </fieldset>
        
       
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Salvar">
            <a href="@routes.MetodosQC.manter()" class="btn">Voltar</a>
        </div>
        
    }
 
     
        
}
