@(metodoQCList: List[MetodoQuantificacaoCarbono])

@javascript = {
<script type="text/javascript" src="@routes.Assets.at("/javascripts/bootbox.min.js")"></script>
<script type="text/javascript">
    
         jQuery(function(){

            $("#modal").modal({
                show: false
            });
            
            $(".novo_editar_metodoQC").click(function(e){
                var url = $(this).attr("href");
                jQuery.ajax(url).done(function(data){
                    $("#modal").html(data).modal('show');
                }).fail(function(data){
                    alert("erro");
                });

                e.preventDefault();
            });
        });
        
    function confirmaExclusao(url, descricao){
        bootbox.dialog({
            message: "Tem certeza que deseja excluir o metodo de quantificação de Carbono "+descricao,
            title: "Confirmar a Exclusão",
            buttons: {
              success: {
                label: "Confirmar",
                className: "btn-danger",
                callback: function() {
                   window.location.href=url;
                }
              },
              main: {
                label: "Cancelar",
                className: "btn",
                
              }
           }
        });
    }     
    
</script>
} 


@import helper._
@import helper.twitterBootstrap._

@main("Manter Método de Quantificação de Carbono", javascript){
    
    <div class="actions">
            <a href="@routes.MetodosQC.novoEditar(0, 0)" align="bottom" class="novo_editar_metodoQC btn btn-primary input-large" rel="tooltip" title="Cadastrar novo Método quant. Carbono">Incluir</a>
            
     </div>
    <br>
 
   <div id="modal" class="modal hide"></div>
    @if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Feito!</strong> @flash.get("success")
        </div>
    } 
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERRO!</strong> @flash.get("error")
        </div>
    } 

    <hr>
    
    @if(metodoQCList.isEmpty()) {
        
        <div class="well">
            <em>Nenhum Método de Quantificação de Carbono Cadastrado</em>
        </div>
        
    } else {
       <div class="well">
        <table class="table">
            <thead>
                <tr class="tablehead">
                    <th>Descrição</th>
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>

                @for(metodo <- metodoQCList) {
                    <tr>
                        <td>
                            @metodo.descricao
                        </td>
                        <td>
                               <a href="@routes.MetodosQC.novoEditar(metodo.id, 2)" class="novo_editar_metodoQC btn btn-primary btn-small" rel="tooltip" title="Editar @metodo.descricao">Editar</a>
                        </td>
                         
                        <td> 
                               <a onclick="confirmaExclusao('@routes.MetodosQC.deletar(metodo.id)', '@metodo.descricao')" class="btn btn-danger btn-small" rel="tooltip" title="Excluir @metodo.descricao">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       </div>
        
    }
}    
