@(id: Long, localForm: Form[Local])
@map_canvas={<div id="map-canvas"></div>}
@import helper._
@import helper.twitterBootstrap._ 

@stylesheet = {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/local.css")">
}

@javascript = {
<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script>

<script type="text/javascript">
   function initialize() { 
   var all_overlays = [];
   var selectedPolygon;
   
   function clearSelection() {
        if (selectedPolygon) {
          selectedPolygon.setEditable(false);
          selectedPolygon = null;
        }
      }

  function setSelection(polygon) {
    clearSelection();
    selectedPolygon = polygon;
    polygon.setEditable(true);
    selectColor(polygon.get('fillColor') || polygon.get('strokeColor'));
    getPolygonCoord();
  }

  function deleteSelectedPoly() {
    if (selectedPolygon) {
       selectedPolygon.setMap(null);
    }
  }
  function getPolygonCoord(polygon){
    var vertices = polygon.getPath();
    $('.coordenada').remove();
    for (var i =0; i < (vertices.getLength()); i++) {
    var template = $('.coordenada_template');
    template.before('<div class="twipsies well coordenada">' + template.html() + '</div>');
    }   
     renumberCoord();
       
    for (var i =0; i < vertices.getLength(); i++) {
      var xy = vertices.getAt(i);
         $("input[name$='coordenadas["+i+"].latitude']").val(xy.lat());
         $("input[name$='coordenadas["+i+"].longitude']").val(xy.lng());
      }
  } 
  
  function utilizarControl(controlDiv, map) {

   controlDiv.style.padding = '5px';

  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = 'white';
  controlUI.style.borderStyle = 'solid';
  controlUI.style.borderWidth = '2px';
  controlUI.style.cursor = 'pointer';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Click para utilizar o polígono selecionado';
  controlDiv.appendChild(controlUI);

  var controlText = document.createElement('div');
  controlText.style.fontFamily = 'Arial,sans-serif';
  controlText.style.fontSize = '12px';
  controlText.style.paddingLeft = '4px';
  controlText.style.paddingRight = '4px';
  controlText.innerHTML = 'Utilizar';
  controlUI.appendChild(controlText);

   google.maps.event.addDomListener(controlUI, 'click', function() {
     getPolygonCoord(selectedPolygon);
  });

};

function apagarControl(controlDiv, map) {

   controlDiv.style.padding = '5px';

  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = 'white';
  controlUI.style.borderStyle = 'solid';
  controlUI.style.borderWidth = '2px';
  controlUI.style.cursor = 'pointer';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Click para apagar o polígono selecionado';
  controlDiv.appendChild(controlUI);

  var controlText = document.createElement('div');
  controlText.style.fontFamily = 'Arial,sans-serif';
  controlText.style.fontSize = '12px';
  controlText.style.paddingLeft = '4px';
  controlText.style.paddingRight = '4px';
  controlText.innerHTML = 'Apagar';
  controlUI.appendChild(controlText);

   google.maps.event.addDomListener(controlUI, 'click', function() {
    deleteSelectedPoly();
  });

};
   var mapOptions = {
    center: new google.maps.LatLng(-24.786735,-51.108398),
    zoom: 7,
    scrollwheel: false,
    panControl: true,
  
    zoomControl: true,
    zoomControlOptions: {
      style: google.maps.ZoomControlStyle.LARGE
      },
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  
  
  var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);
    
  var apagarControlDiv = document.createElement('div');
  var apagarControl = new apagarControl(apagarControlDiv, map);
  apagarControlDiv.index = 1;
  map.controls[google.maps.ControlPosition.TOP_RIGHT].push(apagarControlDiv);
  
  var utilizarControlDiv = document.createElement('div');
  var utilizarControl = new utilizarControl(utilizarControlDiv, map);
  utilizarControlDiv.index = 2;
  map.controls[google.maps.ControlPosition.TOP_RIGHT].push(utilizarControlDiv);
  
  
  var polyOptions = {
          strokeColor: '#ff0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#ff0000',
          fillOpacity: 0.35,
          editable: true
        };
  var drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.POLYGON,
      markerOptions: {
      draggable: true
      },
      drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
        google.maps.drawing.OverlayType.POLYGON,
       ]
    },
          polygonOptions: polyOptions,
          map: map
        });

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {
            all_overlays.push(e);
             if (e.type !== google.maps.drawing.OverlayType.MARKER) {
                drawingManager.setDrawingMode(null);
            var polygon = e.overlay;
            getPolygonCoord(polygon);
            google.maps.event.addListener(polygon, 'click', function() {
              setSelection(polygon);
            });
            setSelection(polygon);
            }
        });
        
        var arrayCoordendas = new Array();
        polyCoordenadas:
        @for((coordenada, count) <- localForm.get().coordenadas.zipWithIndex) {
            arrayCoordendas[@count] = new google.maps.LatLng(@coordenada.latitude, @coordenada.longitude);
         }
        
        var poligono = new google.maps.Polygon({
                    paths: arrayCoordendas,
                    strokeColor: '#ff0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#ff0000',
                    fillOpacity: 0.35,
                    editable: false
                });
         
         google.maps.event.addListener(poligono, 'click', function() {
              setSelection(poligono);
            });
         drawingManager.setDrawingMode(null);
         poligono.setMap(map);

 }
 
        jQuery(function(){
            initialize();
        });
    </script>
    
<script type="text/javascript">
$(document).ready(function(){
    $('#bioma').change(function(e){
        e.preventDefault();
        $("#formacao").html("");
        jsRoutes.controllers.Formacoes.listarFormacao($('#bioma').val()).ajax({
                success: function(data){
                $("#formacao").append("<option class='blank' value=''>-- Escolha a Formação --</option>");
                $.each(data, function(key, item) {
                   $("#formacao").append("<option value="+item.id+">"+item.nome+"</option>");
                   });
            
        }
     });
  });
});


     $('body').on('click', '.checkPrincipal', function(e) {
          $('.checkPrincipal').not(this).removeAttr('checked')
          
        });
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('#trabalhoCientificoSelect').change(function(e){
           findByIdTrabalhoCientifico();
     });
});

function findByIdTrabalhoCientifico() {
    jsRoutes.controllers.TrabalhosCientificos.findById($('#trabalhoCientificoSelect option:selected').val()).ajax({
                    success: function(data){
                        $("#trabalhoCientificoInformacao")
                        .html("<tr><td>Autor</td><td>"+data.autor.nome+"</td></tr>\n\\n\
                                <tr><td>Ano</td><td>"+data.ano+"</td></tr>\n\
                                <tr><td>Disponibilidade</td><td>"+data.disponibilidade.descricao+"</td></tr>\n\
                                <tr><td>Metodo de Quant. Biomassa</td><td>"+data.metodo_quantificacao_biomassa.descricao+"</td></tr>\n\
                                <tr><td>Metodo de Quant. Carbono</td><td>"+data.metodo_quantificacao_carbono.descricao+"</td></tr>\n\
                                <tr><th></th><th> Equações</th><th>Modelo</th></tr>\n\
                                <tr><td>Biomassa</td><td>"+data.equacao_biomassa+"</td><td>"+data.modelo_biomassa+"</td></tr>\n\
                                <tr><td>Carbono</td><td>"+data.equacao_carbono+"</td><td>"+data.modelo_carbono+"</td></tr>\n\
                                <tr><td>Volume</td><td>"+data.equacao_volume+"</td><td>"+data.modelo_volume+"</td></tr>");
                                e.stopPropagation();
		}
         });
}

</script>


<script type="text/javascript">
$(document).ready(function(){
    $(".municipio_template").css("display", "none");
    $(".coordenada_template").css("display", "none");
    });
</script>

<script type="text/javascript">
         $('body').on('click','.addCoordenada', function(e){
           var template = $('.coordenada_template');
           template.before('<div class="twipsies well coordenada">' + template.html() + '</div>');
           renumberCoord();
           });
        
        $('body').on('click', '.removeCoordenada',function(e) {
            $(this).parents('.coordenada').remove();
            renumberCoord();
        });
        
        $('body').on('click','.addMunicipio', function(e) {
           var template = $('.municipio_template');
           template.before('<div class="clearfix municipio">' + template.html() + '</div>');
          renumberMunic();
            
        });
        $('body').on('click', '.removeMunicipio',function(e) {
            $(this).parents('.municipio').remove();
            renumberMunic();
        }); 
        
        
        
        $('#localform').submit(function() {
            $('.municipio_template').remove();
            $('.coordenada_template').remove();
        });
        
        var renumberCoord = function(e) {
            $('.coordenada').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/coordenadas\[.+?\]/g, 'coordenadas[' + i + ']'));
                });
                
            });
        };
        var renumberMunic = function(e) {
            $('.municipio').each(function(i) {
                $('select', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/municipios_locais\[.+?\]/g, 'municipios_locais[' + i + ']'));
                });
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/municipios_locais\[.+?\]/g, 'municipios_locais[' + i + ']'));
                });
                
            });
        };
        
        
          
          $('#trabalhoModalBtn').click(function (e) {
            $('#myModal').modal('show');
          });
        
        $('#form').submit(function() {
            $('.municipio_template').remove();
            $('.coordenada_template').remove();
        });
        
        
     function popUpLocalizarSimilar() {
      popup = window.open('@routes.Locais.localizarSimilar(0, "descricao", "asc", -1, -1, "", -1, -1)', 'popup_id', 'top=100,left=400,status=no,toolbar=no,location=no,menu=no,width=800,height=600,scrollbars=yes,resisable=yes');
    }
    
    jQuery(function(){
            $("#modal").modal({
                show: false
            });

            //bind para buscar conteúdo da view e mostrar na modal
            $(".novo_editar_dominios").click(function(e){
                var url = $(this).attr("href");
                jQuery.ajax(url).done(function(data){
                    $("#modal").html(data).modal('show');
                }).fail(function(data){
                    alert("erro");
                });

                e.preventDefault();
            });
        });
        function showModalFormacao(idFormacao, quemChamou){  
                var url="/formacoes/"+idFormacao+"/"+quemChamou+"/novaEditar"
                jQuery.ajax(url).done(function(data){
                               $("#modal").html(data).modal('show');
                           }).fail(function(data){
                               alert("erro");
                           });

                           
     };
     
      $('.soNumeros').keypress(function(event) {

      if (event.which == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
            return true;
        }else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
        event.preventDefault();
      }
    });
    </script>
}
@municipioGroup(field: Field, fieldName: String = "municipios_locais[0]", className: String = "municipio") = {
    <div class="@className">
               <div class=" well form-inline">
                    <a class="removeMunicipio btn btn-danger pull-right btn-small">Remover</a>
                     <div class="controls">  
                         <select name="@{fieldName+".municipio.id"}" class="input-xlarge") value="@field("municipio.id").value"">  
                            <option>--Escolha um Município--</option>
                                @for(opcao<-Municipio.opcoes){
                                    <option value ="@opcao._1" @if(field("municipio.id").value.getOrElse(0) == opcao._1){selected}>@opcao._2</option>
                                }
                        </select> 
                    <label class="checkbox">  
                    <input type="checkbox" name="@{fieldName+".principal"}" class="checkPrincipal" value ="true" @if(field("principal").value){checked}> principal 
                    </label>
                </div> 
                </div> 
           </div>    
  }


@coordenadaGroup(field: Field, fieldName: String = "coordenadas[0]", className: String = "coordenada") = {
 
    <div class="well form-inline @className">
       <a class="removeCoordenada btn btn-danger pull-right btn-small">Remover</a>
        <input type="text" name="@{fieldName+".latitude"}" class="soNumeros large" placeholder="Latitude" value="@field("latitude").value")">  
        <input type="text" name="@{fieldName+".longitude"}" class="soNumeros large" placeholder="Longitude" value="@field("longitude").value")">  
  </div>
 
 }

@main("Editar Local", javascript, stylesheet, map_canvas) {
   
           
              <table>
                <tr>
                    <td>
                @select(
                    localForm("formacao.bioma.id"), 
                    options(Bioma.opcoes), 
                    '_label -> "Bioma",
                    'class ->"input-xlarge",
                    'id ->"bioma",
                    '_default -> "-- Escolha o Bioma --",
                    '_showConstraints -> false,
                    '_error -> localForm.error("bioma")
                ) 
                </td>
                     <td>
                         <a href="@routes.Biomas.novoEditar(0, 1, 0)" align="bottom" class="novo_editar_dominios btn btn-info btn-mini" rel="tooltip" title="Cadastrar novo bioma">Novo</a> 
                     </td>
                 </tr>
             </table>
        @form(action = routes.Locais.atualizar(id), 'id -> "form") {
        
        
        <fieldset id="localform"> 
            
             <table>
                <tr>
                    <td>
              
                @select(
                    localForm("formacao.id"),
                    options(Formacao.opcoes(Long.parseLong(localForm("formacao.bioma.id").value))),
                    'id->"formacao",
                    'class ->"input-xlarge",
                    '_label -> "Formação", 
                    '_default -> "-- Escolha a Formação --",
                    '_showConstraints -> false,
                    '_error -> localForm.error("formacao")
                ) 
                
                </td>
                     <td>
                         <a href="@routes.Formacoes.novaEditar(0, 1)" align="bottom" class="novo_editar_dominios btn btn-info btn-mini" rel="tooltip" title="Cadastrar nova formação">Nova</a>
                       </td>
                 </tr>
             </table>

                @inputText(
                    localForm("descricao"), 
                    '_label -> "Local",
                    'class ->"input-xlarge",
                    'rel->"tooltip",
                    'title->"Digite o nome do local",
                    '_help -> "",
                    '_error -> localForm.error("descricao")
                )
            <table>
                <tr>
                    <td>
                @select(
                    localForm("espacamento.id"), 
                    options(Espacamento.opcoes),
                    'class ->"input-xlarge",
                    'id->"espacamento",
                    '_label -> "Espaçamento", 
                    '_default -> "-- Escolha o Espaçamento --",
                    '_showConstraints -> false,
                    '_error -> localForm.error("espacamento")
                )
                
              </td>
                     <td>
                               <a href="@routes.Espacamentos.novoEditar(0, 1)" align="bottom" class="novo_editar_dominios btn btn-info btn-mini" rel="tooltip" title="Cadastrar novo espaçamento">Novo</a>
                       </td>
                 </tr>
             </table>
                @inputText(
                    localForm("area_total"), 
                    '_label -> "Área Total (ha)",
                    'class ->"soNumeros input-xlarge",
                    'rel->"tooltip",
                    'title->"Digite o nome do local",
                    '_help -> "",
                    '_error -> localForm.error("nome")
                )

      </fieldset>
      <fieldset>
            <legend>Municípios</legend>
            
            <div id="municipio">
            
                @repeat(localForm("municipios_locais")) { municipio =>
                
                    @municipioGroup(municipio, municipio.name)
                
                }
                
               
                @municipioGroup(
                    localForm("municipio[x]"),
                    className = "municipio_template"
                )
                
                <div class="manage">
                    <a class="addMunicipio btn btn-success btn-small">Adicionar município</a>
                </div>
            
            </div>
            
        </fieldset>
        <fieldset>
            <legend>Coordenadas</legend>
            
            <div id="coordenadas">
            
                @repeat(localForm("coordenadas")) { coordenada =>
                
                    @coordenadaGroup(coordenada, coordenada.name)
                  }
                
                @coordenadaGroup(
                    localForm("coordenada[0]"),
                    className = "coordenada_template"
                )
                
                <div>
                    <a class="addCoordenada btn btn-success btn-small">Adicionar Coordenada</a>
                </div>
            
           
            <br>
        </fieldset>
        <fieldset>
                <legend>Trabalho Científico</legend>
                @select(
                    localForm("trabalho_cientifico.id"), 
                    options(TrabalhoCientifico.opcoes),
                    'class ->"input-xlarge",
                    'name->"trabalho_cientifico.id",
                    'id->"trabalhoCientificoSelect",
                    '_label -> "Trabalho Científico", 
                    '_default -> "-- Escolha o Trabalho Científico --",
                    '_showConstraints -> false,
                    '_error -> localForm.error("espacamento")
                )
                
              
                <div>
                  <a type="button" class="btn btn-primary btn-small" href="@routes.TrabalhosCientificos.manter(0, "autor.nome", "asc", "")">Cadastrar trabalho</a>
                  <a type="button" class="btn btn-success btn-small" onclick="popUpLocalizarSimilar()">Utilizar local similar</a>
                  <a type="button" class="btn btn-warning btn-small">Ver sugestão do software</a>
                  
                </div>
                
        </fieldset>
     <div class="well">
        <table id="trabalhoCientificoInformacao" class="table">
         @if(localForm("trabalho_cientifico") != null){
            <tr><td>Autor</td><td>@localForm("trabalho_cientifico.autor.nome").value</td></tr>
            <tr><td>Ano</td><td>@localForm("trabalho_cientifico.ano").value</td></tr>
            <tr><td>Disponibilidade</td><td>@localForm("trabalho_cientifico.disponibilidade.descricao").value</td></tr>
            <tr><td>Mtdo de Quant. Biomassa:</td><td>@localForm("trabalho_cientifico.metodo_quantificacao_biomassa.descricao").value</td></tr>
            <tr><td>Mtdo de Quant. Carbono</td><td>@localForm("trabalho_cientifico.metodo_quantificacao_carbono.descricao").value</td></tr>
            @if(localForm.get().trabalho_cientifico.trabalho_cientifico_equacao.get(0) != null){
                <tr><th></th><th> Equações</th><th>Modelo</th></tr>
                @for(trabalhoEquacao <- localForm.get().trabalho_cientifico.trabalho_cientifico_equacao){
                    @if(trabalhoEquacao.equacao.variavel_interesse.id == 1){
                      <tr><td>Biomassa</td>
                            <td>@if(trabalhoEquacao.equacao.expressao != null){
                                    @trabalhoEquacao.equacao.expressao}else{Não possui equação cadastrada}</td>
                            <td>@if(trabalhoEquacao.equacao.expressao_modelo!=null && trabalhoEquacao.equacao.expressao_modelo!=""){
                                @trabalhoEquacao.equacao.expressao_modelo}else{Não possui modelo cadastrado}</td>
                       </tr>
                    }
                    @if(trabalhoEquacao.equacao.variavel_interesse.id == 2){
                           <tr><td>Carbono</td>
                               <td>@if(trabalhoEquacao.equacao.expressao != null){
                                    @trabalhoEquacao.equacao.expressao}else{Não possui equação cadastrada}</td>
                            <td>@if(trabalhoEquacao.equacao.expressao_modelo!=null && trabalhoEquacao.equacao.expressao_modelo!=""){
                                @trabalhoEquacao.equacao.expressao_modelo}else{Não possui modelo cadastrado}</td>
                            </tr>
                    }
                    @if(trabalhoEquacao.equacao.variavel_interesse.id == 3){
                           <tr><td>Volume</td>
                               <td>@if(trabalhoEquacao.equacao.expressao != null){
                                    @trabalhoEquacao.equacao.expressao}else{Não possui equação cadastrada}</td>
                            <td>@if(trabalhoEquacao.equacao.expressao_modelo!=null && trabalhoEquacao.equacao.expressao_modelo!=""){
                                @trabalhoEquacao.equacao.expressao_modelo}else{Não possui modelo cadastrado}</td>
                            </tr>
                    }
                }
            }
         }
        </table>
    </div>
    <fieldset>
            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Salvar">
                <a href="@routes.Locais.manter()" class="btn">Voltar</a>
            </div>
    </fieldset>
    
    }
   
}

