@(local: Local)

@import helper._
@import helper.twitterBootstrap._


@main("Cadastrar Dados de Parcelas"){

@form(action = routes.DadosLocal.calcular(1), 'id -> "form") {
<div class="">
    <input type="hidden" name="local.id" class="large" placeholder="Local" value="@local.id"> 
    <label>Área Total(ha): </label><input type="text" name="local.areatotal" class="large" placeholder="Area Total" value="@local.area_total" disabled="true">  
    <label>Área da Parcela(m2): </label><input type="text" name="local.areatotal" class="large" placeholder="Area da Parcela">
    <div class="radios">
    <h4>Tipo de Entrada</h4>
    <br />
  	<label class="radio tipo" id="tipo" required>
  		<input type="radio" name="tipo" id="tipo1"  > <label>Entrada Manual (Digitação dos Dados)</label> 
    	<input type="radio" name="tipo" id="tipo2"  > <label>Importação dos Dados apartir de um arquivo txt.</label>
  	</label>
  	<div id="biomassa_manual" style="display: none">
    
        <div id='jqxWidget biomassa'>
            <div class="jqxgrid" id="jqxgrid_parcela"></div>
                <div style='margin-top: 20px;'>
                <div>
                    <input type="button" value="Export to Excel" id='excelExportParcela' class="btn" />
                    <input type="button" value="Adicionar Linha" id='addRowParcela' class="btn" />
                </div>
            </div>
        </div>

    </div>
  	<div id="biomassa_import" style="display: none">
       <input type="file" id="files" name="files[]" multiple="" class="btn btn-small">
       <div id="arv"></div> 
    </div>
    </div>
    <br />
    <hr>
	<input type="button" class="btn btn-small btn-info" name="Calcular" id="Calcular" title="Calcular" value="Calcular">


</div>
}}
<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
<script type="text/javascript" src="@routes.Assets.at("/javascripts/bootbox.min.js")"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".radios").change(function(){
    	
    	var tipo1 = $("#tipo1").is(":checked");
    	var tipo2 = $("#tipo2").is(":checked");

    	if(tipo1 == true){
    		$("#biomassa_manual").show();
    		$("#biomassa_import").hide();
    	}
    	else if(tipo2 == true){
    		$("#biomassa_manual").hide();
    		$("#biomassa_import").show();
		} 
        else 
			alert("Selecione um Tipo de Entrada!!");


    });
    });
</script>
<script type="text/javascript">
        $(function(){
            var theme = 'base';

            var parcela_source =
            {
                datafields:
                [
                    { name: 'parcela', type: 'number' },
                    { name: 'biomassa', type: 'number' },
                    { name: 'carbono', type: 'number' },
                    { name: 'volume', type: 'number' }
                ]
            };
            var dataAdapterParcela = new $.jqx.dataAdapter(parcela_source);
            // inicializa grid de parcela
            var grid_parcela = $("#jqxgrid_parcela").jqxGrid(
            {
                source: dataAdapterParcela,
                editable: true,
                columnsresize: false,
                selectionmode: 'multiplecellsadvanced',
                theme: theme,
                columns: [
                  { text: 'Parcela', datafield: 'parcela', cellsformat: 'n'},
                  { text: 'Biomassa(ton)', datafield: 'biomassa', cellsformat: 'd' },
                  { text: 'Carbono(ton)', datafield: 'carbono', cellsformat: 'd' },
                  { text: 'Volume(m³)', datafield: 'volume', cellsformat: 'd' }
                ]
            });

            grid_parcela.on('initialized', function(){
                //pré popula com 5 linhas
                for (var i = 5 - 1; i >= 0; i--) {
                    grid_parcela.jqxGrid('addrow', null, { "parcela": grid_parcela.jqxGrid('getrows').length + 1 });
                };
            });

            
            $("#addRowParcela").on('click', function () {
                grid_parcela.jqxGrid('addrow', null, { "parcela": grid_parcela.jqxGrid('getrows').length + 1 });
            });
            
            $("#excelExportParcela").click(function () {
                grid_parcela.jqxGrid('exportdata', 'xls', 'jqxGrid', true);
            });

            
            
        });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {    
    $("#Calcular").click(function(){
                var rows = $("#jqxgrid_parcela").jqxGrid('getrows');
                var valoresEnviar = [];
                var countPreenchido=0;
                var erro = false;
                $.each(rows, function(key, value){
                    if(value.parcela&&value.biomassa&&value.carbono&&value.volume){
                        valoresEnviar.push(value);
                        countPreenchido++;
                    }else if(!value.biomassa&&!value.carbono&&!value.volume){
                        
                    }else{
                      erro=true;  
                      return false;
                    }
                });
                
                  if(countPreenchido>0 && !erro){
                    jsRoutes.controllers.Parcelas.saveGrid(@local.id).ajax({
                    type :  "POST",
                    dataType: 'json',
                    contentType : 'application/json; charset=utf-8',
                    data: JSON.stringify(valoresEnviar),
                    success: function(data){
                     bootbox.dialog({
                        message: "Dados salvos com sucessso.",
                        title: "Feito",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });   
                    }, 
                })   
                    
                }else{
                    bootbox.dialog({
                        message: "Erro no preenchimento da tabela. Linhas incompletas ou nenhuma linha preenchida.",
                        title: "Erro",
                        buttons: {
                            main: {
                            label: "OK",
                            className: "btn-primary",
                            }
                        }
                     });
                }
                
            });    
    });
    
  $(document).ready(function() {
    if(isAPIAvailable()) {
      $('#files').change(handleFileSelect);
    }
  });

  function isAPIAvailable() {
    // Check for the various File API support.
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      // Great success! All the File APIs are supported.
      return true;
    } else {
      // source: File API availability - http://caniuse.com/#feat=fileapi
      // source: <output> availability - http://html5doctor.com/the-output-element/
      document.writeln('The HTML5 APIs used in this form are only available in the following browsers:<br />');
      // 6.0 File API & 13.0 <output>
      document.writeln(' - Google Chrome: 13.0 or later<br />');
      // 3.6 File API & 6.0 <output>
      document.writeln(' - Mozilla Firefox: 6.0 or later<br />');
      // 10.0 File API & 10.0 <output>
      document.writeln(' - Internet Explorer: Not supported (partial support expected in 10.0)<br />');
      // ? File API & 5.1 <output>
      document.writeln(' - Safari: Not supported<br />');
      // ? File API & 9.2 <output>
      document.writeln(' - Opera: Not supported');
      return false;
    }
  }

  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    var file = files[0];

    printTable(file);
  }

  function printTable(file) {
    var reader = new FileReader();
    reader.readAsText(file);
    reader.onload = function(event){
      var csv = event.target.result;
      var data = $.csv.toArrays(csv);
      var itens = new Array();
      
      for(var row in data) {
        for(var item in data[row]) {
          itens[row] = data[row][item];
        }
      }
      var id = @local.id;
       jsRoutes.controllers.Parcelas.saveFile(itens, id).ajax({
              success: function(data){
                $("#arv").html("<label>Arquivo Importado com Sucesso!</label>")
              }  
       });
    };
    reader.onerror = function(){ alert('Erro ao Abrir o arquivo' + file.fileName); };
  }

</script>
