@(currentPage: com.avaje.ebean.Page[TrabalhoCientifico], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.TrabalhosCientificos.manter(newPage, sortBy, order, currentFilter)
    
}
@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@import helper._
@import helper.twitterBootstrap._

@main("Cadastrar Trabalho Científico"){
    
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Feito!</strong> @flash.get("success")
        </div>
    } 
     @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERRO!</strong> @flash.get("error")
        </div>
    } 

    <hr>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nenhum Trabalho Científico Cadastrado</em>
        </div>
        
    } else {
       <div class="well">
        <table class="table">
            <thead>
                <tr class="tablehead">
                    @header("autor.nome", "Nome do Autor")
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>

                @for(TrabalhoCientifico <- currentPage.getList) {
                    <tr>
                        <td>
                            @TrabalhoCientifico.autor.nome
                        </td>
                        <td>
                               <a href="@routes.TrabalhosCientificos.incluirEditar(TrabalhoCientifico.id)" class="btn btn-primary btn-small" rel="tooltip" title="Editar Trabalho Científico">Editar</a>
                        </td>
                         
                        <td> 
                               <a href="@routes.TrabalhosCientificos.deletar(TrabalhoCientifico.id)" class="btn btn-danger btn-small" rel="tooltip" title="Excluir Trabalho Científico">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       </div>
        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Exibindo @currentPage.getDisplayXtoYofZ(" a "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Próxima &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }
}    
