@(locais: List[Local])
@map_canvas={<div id="map-canvas"></div>}
@stylesheet = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
}

@display(coordenadas: Iterator[Coordenada]) = {
    @for(coordenada <- coordenadas) {
        @if(coordenadas.hasNext) {
            new google.maps.LatLng(@coordenada.latitude, @coordenada.longitude),
        } else {
            new google.maps.LatLng(@coordenada.latitude, @coordenada.longitude)
        }
    }
}

@javascript = {
    <script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
    <script type="text/javascript">
        function initialize() {

            var myLatLng = new google.maps.LatLng(-24.786735,-51.108398);
            var mapOptions = {
                zoom: 8,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.STREET
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            
            @for(local <- locais) {

                var poligono = new google.maps.Polygon({
                    id:@local.id,
                    paths: [@display(local.coordenadas.iterator)],
                    strokeColor: '#6B8E23',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#228B22',
                    fillOpacity: 0.35
                });
                poligono.setMap(map);
                google.maps.event.addListener(poligono, 'click', function(event) {
                 var id = this.id;
                 var conteudo;
                 var infowindow =  new google.maps.InfoWindow({
                        content: ''
                    });
                 jsRoutes.controllers.Locais.findById(id).ajax({
                    success: function(data){
                        
                 var contentString= "<div class='well'>\
                            <table class='table'>\
                            <th>Local</th>\
                            <tr><td>Local</td><td>"+data.descricao+"</td></tr>\n\
                           <tr><td>Formacao</td><td>"+data.formacao.nome+"</td></tr>\n\
                           <tr><td>Espaçamento</td><td>"+data.espacamento+"</td></tr>\n\
                           <tr><td>Área Total</td><td>"+data.area_total+"</td></tr>\n\
                            <tr><td>Municípios</td><td>"+data.municipios+"</td></tr>\n\
                           <tr><td>Coordenadas</td><td>"+data.coordenadas+"</td></tr>\n\
                           <tr><td colspan='8'>\n\
                           <table>\n\
                           <th>Trabalho Científico</th>\n\
                          <tr><td>Disponibilidade</td><td>"+data.trabalho_cientifico.disponibilidade.descricao+"</td></tr>\n\
                          <tr><td>Ano</td><td>"+data.trabalho_cientifico.ano+"</td></tr>\n\
                          <tr><td>Metodo de Qantificação Biomassa:</td><td>"+data.trabalho_cientifico.metodo_quantificacao_biomassa.descricao+"</td></tr>\n\
                          <tr><td>Metodo de Qantificação arbono</td><td>"+data.trabalho_cientifico.metodo_quantificacao_carbono.descricao+"</td></tr>\n\
                           </table>\n\
                           </td></tr>\n\
                            </table>\
                            </div>";
                      infowindow.setContent(contentString);      
                          }
                 });
                    
                    infowindow.setPosition(event.latLng);
                    infowindow.open(this.map);
                });

            }

        }

        jQuery(function(){
            initialize();
        });
    </script>
}

@main("", javascript, stylesheet, map_canvas) {
       
    
}

