@(titleHeader: String, titleSaveButton: String, quemChama: Integer, javascript: Html = Html(""))(content: Html)

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">@titleHeader</h3>
</div>
<div class="modal-body">
  @content
</div>
<div class="modal-footer">
  <input type="button" class="btn" @if(quemChama!=3 && quemChama!=4){data-dismiss="modal" aria-hidden="true" value="Fechar"}else{id="abreOutroModal" value="Voltar"}>
  <input type="button" class="btn btn-primary" id="saveModalButton" value="@titleSaveButton">
</div>


@javascript