@(titleHeader: String, titleSaveButton: String, javascript: Html = Html(""))(content: Html)

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">@titleHeader</h3>
</div>
<div class="modal-body">
  @content
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
  <button class="btn btn-primary" id="saveModalButton">@titleSaveButton</button>
</div>


@javascript